# Data 604 Term Project

### Table of Contents

[Introduction](#introduction)

[Datasets](#datasets)

[Data Preparation](#Data-Preparation)

[Inserting Data into SQL](#Inserting-Data-into-SQL)

- [Creating Tables](#creating-all-3-tables)
   - [Property Assesments Table](#property-table)
   - [Community Demographics Table](#census-table)
   - [Crime Stats Table](#crime-stats-table)
- [Inserting Data into SQL](#Inserting-data-into-SQL)
   - []()
   - []()
   - []()
- [Checking Data in SQL](#Checking-Data-in-SQL)
   - []()
   - []()
   - []()

[Guiding Question #1: What is the Relationship Between Crime and Property Assessments?](#guiding-question-1-what-is-the-relationship-between-crime-and-property-assessments)

- [Query](#)

[Guiding Question #2: What is the Relationship Between Community Demographics and Property Assessments?](#guiding-question-2-what-is-the-relationship-between-community-demographics-and-property-assessments)

- [Query](#)

[Guiding Question #3: What is the Relationship Between Demographics and Crime Rates?](#guiding-question-3-what-is-the-relationship-between-demographics-and-crime-rates)

- [Query](#)

[Citations](#Citations)

## Introduction

Intro here

## Datasets

Explaining Datasets

## Loading Datasets

In [2]:
import pandas as pd
import mysql.connector
from mysql.connector import errorcode
import os
#import geopandas as gpd

In [4]:
census = pd.read_csv('https://raw.githubusercontent.com/ethan2411/Data-603-604/main/Census_by_Community_2019_20231027.csv')
crimestats = pd.read_csv("https://raw.githubusercontent.com/ethan2411/Data-603-604/main/604%20Data/Community_Crime_Statistics.csv")
property = pd.read_csv('https://raw.githubusercontent.com/ethan2411/Data-603-604/main/Current_Year_Property_Assessments__Parcel__20231027.csv')
#geographic data just incase we want it, would need to find one for calgary
#geodf = gpd.read_file('https://raw.githubusercontent.com/ethan2411/Data-603-604/main/neighbourhoods.geojson')

## Data Preparation

In [5]:
#size of dataframes
print('Census: ',census.shape)
print('Crime: ',crimestats.shape)
print('Property: ',property.shape)

Census:  (306, 142)
Crime:  (80976, 10)

In [3]:
census.head()

,CLASS,CLASS_CODE,COMM_CODE,NAME,SECTOR,SRG,COMM_STRUCTURE,CNSS_YR,FOIP_IND,RES_CNT,...,OTHER_5_14,OTHER_15_19,OTHER_20_24,OTHER_25_34,OTHER_35_44,OTHER_45_54,OTHER_55_64,OTHER_65_74,OTHER_75,multipolygon
0,Residential,1,LEG,LEGACY,SOUTH,DEVELOPING,BUILDING OUT,2019,NaN,6420,...,0,0,0,0,0,0,0,0,0,MULTIPOLYGON (((-114.021996041091 50.863078904...
1,Residential,1,HPK,HIGHLAND PARK,CENTRE,BUILT-OUT,1950s,2019,NaN,3838,...,0,0,0,0,0,0,0,0,0,MULTIPOLYGON (((-114.0691626854784 51.09565033...
2,Residential,1,CNS,CORNERSTONE,NORTHEAST,DEVELOPING,2000s,2019,NaN,2648,...,0,0,0,0,0,0,0,0,0,MULTIPOLYGON (((-113.91839732026011 51.1760690...
3,Residential,1,MON,MONTGOMERY,NORTHWEST,BUILT-OUT,1950s,2019,NaN,4515,...,0,0,0,0,0,0,0,0,0,MULTIPOLYGON (((-114.16457918083577 51.0814533...
4,Residential,1,TEM,TEMPLE,NORTHEAST,BUILT-OUT,1960s/1970s,2019,NaN,10977,...,0,0,0,0,0,0,0,0,0,MULTIPOLYGON (((-113.93512706147847 51.0960756...

In [4]:
crimestats.head()

,Sector,Community Name,Category,Crime Count,Date,Year,Month,ID,Resident Count,Community Center Point
0,NaN,05C,Theft OF Vehicle,1.0,2018/10,2018,OCT,2018-OCT-05C-Theft OF Vehicle,NaN,NaN
1,NaN,03I,Theft FROM Vehicle,1.0,2018/02,2018,FEB,2018-FEB-03I-Theft FROM Vehicle,NaN,NaN
2,WEST,LINCOLN PARK,ViolenceÂ 'Other' (Non-domestic),1.0,2022/04,2022,APR,2022-APR-LINCOLN PARK-Violenceï¿½ 'Other' (Non-d...,NaN,POINT (-114.129991899612 51.010273743279)
3,NORTHWEST,01K,Assault (Non-domestic),1.0,2022/04,2022,APR,2022-APR-01K-Assault (Non-domestic),NaN,POINT (-114.222716308933 51.168724290089)
4,NORTHWEST,01K,Theft FROM Vehicle,2.0,2022/04,2022,APR,2022-APR-01K-Theft FROM Vehicle,NaN,POINT (-114.222716308933 51.168724290089)

In [5]:
property.head()

,"<!DOCTYPE html><html><head><meta name=""google"" content=""notranslate""><meta http-equiv=""X-UA-Compatible"" content=""IE=edge;""><style nonce=""5yaOTFpyMhurJvYQttO3CQ"">@font-face{font-family:'Roboto';font-style:italic;font-weight:400;src:url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xIIzc.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc9.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc9.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc9.ttf)format('truetype');}</style><meta name=""referrer"" content=""origin""><title>Current_Year_Property_Assessments__Parcel__20231027.csv - Google Drive</title><meta property=""og:title"" content=""Current_Year_Property_Assessments__Parcel__20231027.csv""><meta property=""og:type"" content=""article""><meta property=""og:site_name"" content=""Google Docs""><meta property=""og:url"" content=""https://drive.google.com/file/d/1m0RTmD7gNjkKaz9snscChJ-jzbccQlgp/view?usp=drive_link&amp;usp=embed_facebook""><link rel=""shortcut icon"" href=""https://ssl.gstatic.com/images/branding/product/1x/drive_2020q4_32dp.png""><link rel=""stylesheet"" href=""https://fonts.googleapis.com/css?family=Google+Sans:300",400,500,"700"" nonce=""5yaOTFpyMhurJvYQttO3CQ""><link rel=""stylesheet"" href=""https://www.gstatic.com/_/apps-fileview/_/ss/k=apps-fileview.v.fZBCjHT1fEY.L.X.O/am=IAw/d=0/rs=AO0039tamPBzqYws8SVbRKxvs7hdGLbSOQ"" nonce=""5yaOTFpyMhurJvYQttO3CQ""><script nonce=""uCbjKLk8nU90Q41C6y3O8A"">_docs_flag_initialData={""docs-ails"":""docs_cold""","docs-fwds:""docs_sdf""","docs-crs:""docs_crs_nl""",docs-fe-re:2,docs-fl:1,docs-l1lc:2,"docs-l1lm:""SEA""",...,0.88,0.89,0.90,1.69,82159412].1,[[null.2,null.214,null.215,"https://www.gstatic.com/og/_/js/k=og.qtm.en_US.HohRXMr0Q0U.es5.O/rt=j/m=qabr,q_dnp,qapid,q_dg/exm=qaaw,qadd,qaid,qein,qhaw,qhba,qhbr,qhch,qhga,qhid,qhin/d=1/ed=1/rs=AA2YrTthZpOtjEEVjlAx-27pVG2BremO4w]]]]",};this.gbar_=this.gbar_||{};(function(_){var window=this;
0,try{,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"_._F_toggles_initialize=function(a){(""undefine...",_._F_toggles_initialize)([]);,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,/*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Copyright The Closure Library Authors.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SPDX-License-Identifier: Apache-2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#if we want
#geodf.head()

,neighbourhood,neighbourhood_group,geometry
0,Lincoln Square,NaN,"MULTIPOLYGON (((-87.67440 41.97610, -87.67440 ..."
1,Hyde Park,NaN,"MULTIPOLYGON (((-87.58037 41.80252, -87.58039 ..."
2,Woodlawn,NaN,"MULTIPOLYGON (((-87.57714 41.78614, -87.57714 ..."
3,Rogers Park,NaN,"MULTIPOLYGON (((-87.65455 41.99817, -87.65573 ..."
4,Jefferson Park,NaN,"MULTIPOLYGON (((-87.75263 41.96797, -87.75279 ..."

## Inserting Data into SQL

### Connecting to Databse

In [5]:
filepath1 = "C:/Users/ethan/Downloads/Data 604/Term Project/group password.txt"
filepath2 = "file2.txt"
filepath3 = "file3.txt"

if os.path.exists(filepath1):
    filepath = filepath1
elif os.path.exists(filepath2):
    filepath = filepath2
elif os.path.exists(filepath3):
    filepath = filepath3
else:
    print('The file does not exist in any of the specified paths.')


with open(filepath) as f:
    passw = f.read()
    
# attempt a connection
myconnection = mysql.connector.connect(user='l01-4', 
                                       password=passw,
                                       host='datasciencedb2.ucalgary.ca', 
                                       database='l01-4',
                                       allow_local_infile=True)
myconnection

### Creating all 3 Tables

### Property Table

In [ ]:
#Table for property assessments
create_statement = '''create table l01-4.property_data (
    ROLL_YEAR int,
    ROLL_NUMBER int,
    ADDRESS varchar(1000), 
    ASSESSED_VALUE int,
    ASSESSMENT_CLASS_DESCRIPTION varchar(15),
    COMM_CODE varchar(3),
    COMM_NAME varchar(250),
    LAND_USE_DESIGNATION varchar(1000),
    LAND_SIZE_SM float,
    LAND_SIZE_SF float, 
    LAND_SIZE_AC float
    );'''

# now we'll create a cursor and run our create statement
create_cursor = myconnection.cursor()
try:
    create_cursor.execute(create_statement)
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
        print("Ooops! We already have that table")
    else:
        print(err.msg)
else:
    print("table created successfully!")

create_cursor.close()

### Census Table

In [ ]:
#Table for Census data
create_statement = '''create table l01-4.calgary_census_2019 (
    CLASS varchar(100),
    CLASS_CODE int,
    COMM_CODE varchar(100),
    NAME varchar(100),
    SECTOR varchar(100),
    COMM_STRUCTURE varchar(100),
    CNSS_YR int,
    RES_CNT int,
    DWELL_CNT int,
    PRSCH_CHLD int,
    ELECT_CNT int,
    EMPLYD_CNT int,
    OWNSHP_CNT int,
    DOG_CNT int,
    CAT_CNT int,
    PUB_SCH int,
    SEP_SCH int,
    PUBSEP_SCH int,
    OTHER_SCH int,
    UNKNWN_SCH int,
    SING_FAMLY int,
    DUPLEX int,
    MULTI_PLEX int,
    APARTMENT int,
    TOWN_HOUSE int,
    MANUF_HOME int,
    CONV_STRUC int,
    COMUNL_HSE int,
    RES_COMM int,
    OTHER_RES int,
    NURSING_HM int,
    OTHER_INST int,
    HOTEL_CNT int,
    OTHER_MISC int,
    APT_NO_RES int,
    APT_OCCPD int,
    APT_OWNED int,
    APT_PERSON int,
    APT_VACANT int,
    APT_UC int,
    APT_NA int,
    CNV_NO_RES int,
    CNV_OCCPD int,
    CNV_OWNED int,
    CNV_PERSON int,
    CNV_VACANT int,
    CNV_UC int,
    CNV_NA int,
    DUP_NO_RES int,
    DUP_OCCPD int,
    DUP_OWNED int,
    DUP_PERSON int,
    DUP_VACANT int,
    DUP_UC int,
    DUP_NA int,
    MFH_NO_RES int,
    MFH_OCCPD int,
    MFH_OWNED int,
    MFH_PERSON int,
    MFH_VACANT int,
    MFH_UC int,
    MFH_NA int,
    MUL_NO_RES int,
    MUL_OCCPD int,
    MUL_OWNED int,
    MUL_PERSON int,
    MUL_VACANT int,
    MUL_UC int,
    MUL_NA int,
    OTH_NO_RES int,
    OTH_OCCPD int,
    OTH_OWNED int,
    OTH_PERSON int,
    OTH_VACANT int,
    OTH_UC int,
    OTH_NA int,
    TWN_NO_RES int,
    TWN_OCCPD int,
    TWN_OWNED int,
    TWN_PERSON int,
    TWN_VACANT int,
    TWN_UC int,
    TWN_NA int,
    SF_NO_RES int,
    SF_OCCPD int,
    SF_OWNED int,
    SF_PERSON int,
    SF_VACANT int,
    SF_UC int,
    SF_NA int,
    OTH_STRTY int,
    DWELSZ_1 int,
    DWELSZ_2 int,
    DWELSZ_3 int,
    DWELSZ_4_5 int,
    DWELSZ_6 int,
    MALE_CNT int,
    FEMALE_CNT int,
    MALE_0_4 int,
    MALE_5_14 int,
    MALE_15_19 int,
    MALE_20_24 int,
    MALE_25_34 int,
    MALE_35_44 int,
    MALE_45_54 int,
    MALE_55_64 int,
    MALE_65_74 int,
    MALE_75 int,
    FEM_0_4 int,
    FEM_5_14 int,
    FEM_15_19 int,
    FEM_20_24 int,
    FEM_25_34 int,
    FEM_35_44 int,
    FEM_45_54 int,
    FEM_55_64 int,
    FEM_65_74 int,
    FEM_75 int,
    MF_0_4 int,
    MF_5_14 int,
    MF_15_19 int,
    MF_20_24 int,
    MF_25_34 int,
    MF_35_44 int,
    MF_45_54 int,
    MF_55_64 int,
    MF_65_74 int,
    MF_75 int,
    OTHER_CNT int,
    OTHER_0_4 int,
    OTHER_5_14 int,
    OTHER_15_19 int,
    OTHER_20_24 int,
    OTHER_25_34 int,
    OTHER_35_44 int,
    OTHER_45_54 int,
    OTHER_55_64 int,
    OTHER_65_74 int,
    OTHER_75 int
    );'''
    

create_cursor = myconnection.cursor()
try:
    create_cursor.execute(create_statement)
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
        print("Ooops! We already have that table")
    else:
        print(err.msg)
else:
    print("Table created successfully!")

create_cursor.close()

### Crime Stats Table

In [ ]:
#Table for Crime Stats
# CREATE TABLE STATEMENT
create_statement = '''create table l01-4.crimestats (
    Sector varchar(10),
    CommunityName varchar(250) NOT NULL,
    Category varchar(40),
    CrimeCount int,
    Date varchar(7),
    Year varchar(4),
    Month varchar(3),
    ID varchar(100),
    CommunityCenterPoint blob,
    CalgaryCommunities int,
    WardBoundaries20132017 int,
    WardBoundaries int,
    CityQuadrants int
    );'''

# now we'll create a cursor and run our create statement
create_cursor = myconnection.cursor()
try:
    create_cursor.execute(create_statement)
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
        print("Ooops! We already have that table")
    else:
        print(err.msg)
else:
    print("table created successfully!")

create_cursor.close()

### Inserting data into SQL

In [ ]:
#Inserting into table for property assessments

In [ ]:
#Inserting into table for Census data

In [ ]:
#Inserting into table for Crime Stats

### Checking Data in SQL

In [ ]:
# Seeing head of property data
read_cursor = myconnection.cursor(buffered=True, dictionary=True)

query_string = ("SELECT * FROM property_data;")

read_cursor.execute(query_string)

# This is so we will only see first few values and not the whole dataset
count = 0
for library_value in read_cursor:
    print(library_value)
    count += 1
    #break if we have first 5 rows
    if count == 5:
        break

read_cursor.close()

In [ ]:
# Seeing head of census data
read_cursor = myconnection.cursor(buffered=True, dictionary=True)

query_string = ("SELECT * FROM census;")

read_cursor.execute(query_string)

# This is so we will only see first few values and not the whole dataset
count = 0
for library_value in read_cursor:
    print(library_value)
    count += 1
    #break if we have first 5 rows
    if count == 5:
        break

read_cursor.close()

In [ ]:
# Seeing head of  crime stats data
read_cursor = myconnection.cursor(buffered=True, dictionary=True)

query_string = ("SELECT * FROM crimestats;")

read_cursor.execute(query_string)

# This is so we will only see first few values and not the whole dataset
count = 0
for library_value in read_cursor:
    print(library_value)
    count += 1
    #break if we have first 5 rows
    if count == 5:
        break

read_cursor.close()

## Guiding Question #1: What is the Relationship Between Crime and Property Assessments? 

- Is there a connection between the historical property assessments and the types of crimes committed in different community districts? If so, what is it?
- Do areas with higher crime rates tend to have lower assessed property values? 
- Do areas with certain crime types tend to have different assessed property values?

## Guiding Question #2: What is the Relationship Between Community Demographics and Property Assessments? 
- What is the relationship between gender distribution and property assessments?
- Is there an effect between population density and property assessments? 
- Are property assessments in communities related to age demographics?

## Guiding Question #3: What is the Relationship Between Demographics and Crime Rates? 
- Is crime in communities more prevalent when certain age groups are more present?
- Is there a relationship between property types and crime types/rates? 
- Is there a relationship between gender demographics and crime types/rates?

### Closing Database Connection

In [6]:
#Closing connection
myconnection.close()

### Deleting Tables is needed

In [ ]:
#DELETE TABLE IF NEEDED. DO NOT RUN IF NOT REQUIRED.

deletecursor = myconnection.cursor()
sql = "DROP TABLE IF EXISTS ;"
deletecursor.execute(sql)
deletecursor.close()

## Citations

Community crime statistics | open calgary. (n.d.). Retrieved 27 October 2023, from https://data.calgary.ca/Health-and-Safety/Community-Crime-Statistics/78gh-n26t

Historical property assessments (Parcel) | open calgary. (n.d.). Retrieved 27 October 2023, from https://data.calgary.ca/Government/Historical-Property-Assessments-Parcel-/4ur7-wsgc