# Data 604 Term Project

### Table of Contents

[Introduction](#introduction)

[Datasets](#datasets)

[Data Preparation](#Data-Preparation)
- [Data Cleaning](#data-cleaning)
   - [Property Data](#property-data)
   - [Census Data](#census-data)
   - [Crime Stats](#crime-stats)

[Inserting Data into SQL](#Inserting-Data-into-SQL)

- [Creating Tables](#creating-all-3-tables)
   - [Property Assesments Table](#property-table)
   - [Community Demographics Table](#census-table)
   - [Crime Stats Table](#crime-stats-table)
- [Inserting Data into SQL](#Inserting-data-into-SQL)
   - []()
   - []()
   - []()
- [Checking Data in SQL](#Checking-Data-in-SQL)
   - []()
   - []()
   - []()

[Guiding Question #1: What is the Relationship Between Crime and Property Assessments?](#guiding-question-1-what-is-the-relationship-between-crime-and-property-assessments)

- [Subquestion 1](#)
- [Subquestion 2](#)
- [Subquestion 3](#)

[Guiding Question #2: What is the Relationship Between Community Demographics and Property Assessments?](#guiding-question-2-what-is-the-relationship-between-community-demographics-and-property-assessments)

- [Subquestion 1](#)
- [Subquestion 2](#)
- [Subquestion 3](#)

[Guiding Question #3: What is the Relationship Between Demographics and Crime Rates?](#guiding-question-3-what-is-the-relationship-between-demographics-and-crime-rates)

- [Subquestion 1](#)
- [Subquestion 2](#)
- [Subquestion 3](#)

[Discussion](#discussion)

[Conclusion](#conclusion)

[Citations](#Citations)

## Introduction

Intro here

## Datasets

Explaining Datasets

## Loading Datasets

In [1]:
import pandas as pd
import mysql.connector
from mysql.connector import errorcode
import os
#import geopandas as gpd

In [5]:
census = pd.read_csv('https://raw.githubusercontent.com/ethan2411/Data-603-604/main/604%20Data/Census_by_Community_2019_20231027.csv')
crimestats = pd.read_csv("https://raw.githubusercontent.com/ethan2411/Data-603-604/main/604%20Data/Community_Crime_Statistics.csv")
#property csv broken down into 9 smaller files
Property1 = pd.read_csv('https://raw.githubusercontent.com/ethan2411/Data-603-604/main/604%20Data/Historical_Property_Assessments__Parcel_-1.csv')
Property2 = pd.read_csv('https://raw.githubusercontent.com/ethan2411/Data-603-604/main/604%20Data/Historical_Property_Assessments__Parcel_-2.csv')
Property3 = pd.read_csv('https://raw.githubusercontent.com/ethan2411/Data-603-604/main/604%20Data/Historical_Property_Assessments__Parcel_-3.csv')
Property4 = pd.read_csv('https://raw.githubusercontent.com/ethan2411/Data-603-604/main/604%20Data/Historical_Property_Assessments__Parcel_-4.csv')
Property5 = pd.read_csv('https://raw.githubusercontent.com/ethan2411/Data-603-604/main/604%20Data/Historical_Property_Assessments__Parcel_-5.csv')
Property6 = pd.read_csv('https://raw.githubusercontent.com/ethan2411/Data-603-604/main/604%20Data/Historical_Property_Assessments__Parcel_-6.csv')
Property7 = pd.read_csv('https://raw.githubusercontent.com/ethan2411/Data-603-604/main/604%20Data/Historical_Property_Assessments__Parcel_-7.csv')
Property8 = pd.read_csv('https://raw.githubusercontent.com/ethan2411/Data-603-604/main/604%20Data/Historical_Property_Assessments__Parcel_-8.csv')
Property9 = pd.read_csv('https://raw.githubusercontent.com/ethan2411/Data-603-604/main/604%20Data/Historical_Property_Assessments__Parcel_-9.csv')

#geographic data just incase we want it, would need to find one for calgary
#geodf = gpd.read_file('https://raw.githubusercontent.com/ethan2411/Data-603-604/main/neighbourhoods.geojson')

## Data Preparation

In [6]:
#size of dataframes
print('Census: ',census.shape)
print('Crime: ',crimestats.shape)
print('Property1: ',Property1.shape)
print('Property2: ',Property2.shape)
print('Property3: ',Property3.shape)
print('Property4: ',Property4.shape)
print('Property5: ',Property5.shape)
print('Property6: ',Property6.shape)
print('Property7: ',Property7.shape)
print('Property8: ',Property8.shape)
print('Property9: ',Property9.shape)

Census:  (306, 142)
Crime:  (11857, 14)
Property1:  (72411, 17)
Property2:  (68926, 17)
Property3:  (71513, 17)
Property4:  (63201, 17)
Property5:  (54357, 17)
Property6:  (54061, 17)
Property7:  (41072, 17)
Property8:  (40408, 17)
Property9:  (53961, 17)

In [7]:
census.head()

,CLASS,CLASS_CODE,COMM_CODE,NAME,SECTOR,SRG,COMM_STRUCTURE,CNSS_YR,FOIP_IND,RES_CNT,...,OTHER_5_14,OTHER_15_19,OTHER_20_24,OTHER_25_34,OTHER_35_44,OTHER_45_54,OTHER_55_64,OTHER_65_74,OTHER_75,multipolygon
0,Residential,1,LEG,LEGACY,SOUTH,DEVELOPING,BUILDING OUT,2019,NaN,6420,...,0,0,0,0,0,0,0,0,0,MULTIPOLYGON (((-114.021996041091 50.863078904...
1,Residential,1,HPK,HIGHLAND PARK,CENTRE,BUILT-OUT,1950s,2019,NaN,3838,...,0,0,0,0,0,0,0,0,0,MULTIPOLYGON (((-114.0691626854784 51.09565033...
2,Residential,1,CNS,CORNERSTONE,NORTHEAST,DEVELOPING,2000s,2019,NaN,2648,...,0,0,0,0,0,0,0,0,0,MULTIPOLYGON (((-113.91839732026011 51.1760690...
3,Residential,1,MON,MONTGOMERY,NORTHWEST,BUILT-OUT,1950s,2019,NaN,4515,...,0,0,0,0,0,0,0,0,0,MULTIPOLYGON (((-114.16457918083577 51.0814533...
4,Residential,1,TEM,TEMPLE,NORTHEAST,BUILT-OUT,1960s/1970s,2019,NaN,10977,...,0,0,0,0,0,0,0,0,0,MULTIPOLYGON (((-113.93512706147847 51.0960756...

In [8]:
crimestats.head()

,Sector,Community Name,Category,Crime Count,Date,Year,Month,ID,Resident Count,Community Center Point,Calgary Communities,Ward Boundaries 2013-2017,Ward Boundaries,City Quadrants
0,NaN,14V,Break & Enter - Commercial,1,2019/04,2019,APR,2019-APR-14V-Break & Enter - Commercial,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,02A,Assault (Non-domestic),1,2019/12,2019,DEC,2019-DEC-02A-Assault (Non-domestic),NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,10A,Theft FROM Vehicle,1,2019/01,2019,JAN,2019-JAN-10A-Theft FROM Vehicle,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,10C,Theft OF Vehicle,1,2019/11,2019,NOV,2019-NOV-10C-Theft OF Vehicle,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,14V,Theft FROM Vehicle,1,2019/01,2019,JAN,2019-JAN-14V-Theft FROM Vehicle,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
display(Property1.head())
display(Property9.tail())

,ROLL_YEAR,ROLL_NUMBER,ADDRESS,ASSESSED_VALUE,ASSESSMENT_CLASS_DESCRIPTION,RE_ASSESSED_VALUE,FL_ASSESSED_VALUE,COMM_CODE,COMM_NAME,YEAR_OF_CONSTRUCTION,LAND_USE_DESIGNATION,PROPERTY_TYPE,LAND_SIZE_SM,LAND_SIZE_SF,LAND_SIZE_AC,SUB_PROPERTY_USE,MULTIPOLYGON
0,2019,23152127,5922 TROLLINGER ST NE,332500,Residential,332500.0,NaN,THO,THORNCLIFFE,NaN,NaN,LI,NaN,NaN,NaN,NaN,"MULTIPOLYGON (((-114.0592693 51.1035716, -114...."
1,2019,4032504,52 SADDLEBACK WY NE,360000,Residential,360000.0,NaN,SAD,SADDLE RIDGE,NaN,R-1N,LI,310.0,3337.0,0.08,NaN,"MULTIPOLYGON (((-113.9490855 51.1277451, -113...."
2,2019,4032603,48 SADDLEBACK WY NE,366000,Residential,366000.0,NaN,SAD,SADDLE RIDGE,NaN,R-1N,LI,391.4,4214.0,0.10,NaN,"MULTIPOLYGON (((-113.9492072 51.1277092, -113...."
3,2019,4032702,10 SADDLEBACK RD NE,404000,Residential,404000.0,NaN,SAD,SADDLE RIDGE,NaN,R-1N,LI,340.0,3659.0,0.08,NaN,"MULTIPOLYGON (((-113.9505519 51.1280999, -113...."
4,2019,4032801,14 SADDLEBACK RD NE,385500,Residential,385500.0,NaN,SAD,SADDLE RIDGE,NaN,R-1N,LI,347.5,3741.0,0.09,NaN,"MULTIPOLYGON (((-113.9504361 51.1281539, -113...."

,ROLL_YEAR,ROLL_NUMBER,ADDRESS,ASSESSED_VALUE,ASSESSMENT_CLASS_DESCRIPTION,RE_ASSESSED_VALUE,FL_ASSESSED_VALUE,COMM_CODE,COMM_NAME,YEAR_OF_CONSTRUCTION,LAND_USE_DESIGNATION,PROPERTY_TYPE,LAND_SIZE_SM,LAND_SIZE_SF,LAND_SIZE_AC,SUB_PROPERTY_USE,MULTIPOLYGON
53956,2019,792044703,130 CRANWELL CL SE,488000,Residential,488000.0,NaN,CRA,CRANSTON,NaN,R-1,LI,451.0,4855.0,0.11,NaN,"MULTIPOLYGON (((-113.9839438 50.8894511, -113...."
53957,2019,792044802,126 CRANWELL CL SE,495000,Residential,495000.0,NaN,CRA,CRANSTON,NaN,R-1,LI,438.2,4717.0,0.11,NaN,"MULTIPOLYGON (((-113.9837799 50.8894056, -113...."
53958,2019,792044901,122 CRANWELL CL SE,523000,Residential,523000.0,NaN,CRA,CRANSTON,NaN,R-1,LI,484.6,5216.0,0.12,NaN,"MULTIPOLYGON (((-113.9836836 50.8892794, -113...."
53959,2019,814002002,20606 56 ST SE,1910000,Residential,1855183.0,54817.0,12F,RESIDUAL WARD 12 - SUB AREA 12F,NaN,"S-FUD,S-SPR,C-C1,M-1,S-R,R-G,R-Gm",LO,647184.6,6966465.0,159.93,FL0303,"MULTIPOLYGON (((-113.9406584 50.8632467, -113...."
53960,2019,857001002,21909 72 ST SE,460000,Residential,452410.0,7590.0,12I,RESIDUAL WARD 12 - SUB AREA 12I,NaN,ANRI,LI,352070.0,3789774.0,87.00,FL0303,"MULTIPOLYGON (((-113.9406392 50.8512193, -113...."

In [6]:
#if we want
#geodf.head()

,neighbourhood,neighbourhood_group,geometry
0,Lincoln Square,NaN,"MULTIPOLYGON (((-87.67440 41.97610, -87.67440 ..."
1,Hyde Park,NaN,"MULTIPOLYGON (((-87.58037 41.80252, -87.58039 ..."
2,Woodlawn,NaN,"MULTIPOLYGON (((-87.57714 41.78614, -87.57714 ..."
3,Rogers Park,NaN,"MULTIPOLYGON (((-87.65455 41.99817, -87.65573 ..."
4,Jefferson Park,NaN,"MULTIPOLYGON (((-87.75263 41.96797, -87.75279 ..."

### Data Cleaning

#### Property Data

In [ ]:
#checked which columns had NaN values present and how many were present 

display(Property1.isna().sum())
display(Property2.isna().sum())
display(Property3.isna().sum())
display(Property4.isna().sum())
display(Property5.isna().sum())
display(Property6.isna().sum())
display(Property7.isna().sum())
display(Property8.isna().sum())
display(Property9.isna().sum())

In [ ]:
#Cleaning the dataframes to get rid of nan values so we can load it into the database

#make a list containing all our dataframes
frames = [Property1, Property2, Property3, Property4, Property5, Property6, Property7, Property8, Property9]

#make a list of the columns where we want to drop any of the rows that have NaN values in these columns
na_rows_to_drop = ["LAND_USE_DESIGNATION", "LAND_SIZE_SM", "LAND_SIZE_SF", "LAND_SIZE_AC","ADDRESS"]

#make a list of the columns we want to drop because the majority of the column contains NaN values or the column is undesired such as geo/multipolygon data (since it is insanely large and crashes loading into the db, we dont need it anyways). 
columns_to_drop = ["FL_ASSESSED_VALUE","YEAR_OF_CONSTRUCTION", "SUB_PROPERTY_USE", "PROPERTY_TYPE", "RE_ASSESSED_VALUE", "MULTIPOLYGON"]

#loop through all our 9 dataframes
for dataset in frames:
    #drop any rows containing NaN values from the columns where we saw NaN values to be present (we only are doing this with the columns that we want to keep and only have a small amount of NaN values)
    for col in na_rows_to_drop:
        dataset.dropna(subset=[col], inplace=True)
        
    #drop all unnecesarry columns that we are not going to be using (drop columns with the majority of the data being NaN values and also columns that are non-desired)
    for col in columns_to_drop:
        dataset.drop(col, axis = 1, inplace = True)

In [ ]:
#check if there are any more remaining NaN values present in any of the 9 datasets
display(Property1.isna().sum())
display(Property2.isna().sum())
display(Property3.isna().sum())
display(Property4.isna().sum())
display(Property5.isna().sum())
display(Property6.isna().sum())
display(Property7.isna().sum())
display(Property8.isna().sum())
display(Property9.isna().sum())

#we can see that there are no NaN values present so we are ready to insert the data into a database

In [ ]:
#merge all our separate cleaned/wrangled csvs into one so we can grab a sample from it and then insert it into the database 
frames = [Property1, Property2, Property3, Property4, Property5, Property6, Property7, Property8, Property9]

Property_Full = pd.concat(frames)

display(Property_Full)

In [ ]:
#take a sample of the massive combined dataset so that the data can be inserted int othe database at a quicker pace

#Note: I commented this entire cell out because I did not want to accidetally run it again since we did not want to keep grabbing different samples
#I tried setting the seed, however that still did not stop from the sample being different every time. We also checked to see if the sample contained the same amount of unique community codes and we found it contained 249 of 260 community codes. We checked to see which codes were not present and they ended up being residual ward areas so not even communities (we did not plan on using these anyways so there was no issue in them missing)

#import random

#random.seed(2023)

#Property_Data = Property_Full.sample(200000)

#display(Property_Full["COMM_CODE"].nunique())
#display(Property_Data["COMM_CODE"].nunique())

#display(Property_Data)

In [ ]:
#Take our sample dataset that was made and save it as a CSV file so that the data would not be changed and would forever be saved in case we had issues and needed to go back to the specific data we are using. 

#Property_Data.to_csv("PropertyData.csv", index=False)

#### Census Data

In [ ]:
#checking for null values in the dataframe and seeing if any can be dropped from our analysis. 

missing_val=census.isnull().sum()
non_missing_val= census.notnull().sum()
total_val=census.shape[0]
percentage_missing=missing_val/total_val*100

#finding the columns with any null values (with a percentage >0)
drop_columns= percentage_missing[percentage_missing > 0].index
drop_columns

In [ ]:
#dropping the columns with null values. 
df_dropped = census.drop(columns=drop_columns, inplace=False)
df_dropped = df_dropped.drop(columns="multipolygon")
df_dropped

#### Crime Stats

In [13]:
#Dropping columns that aren't neccesary and renaming comlumns
crime_cleaned = crimestats.drop('Resident Count', axis=1)
crime_cleaned.columns = ["Sector", "CommunityName","Category","CrimeCount","Date", "Year", "Month", "ID","CommunityCenterPoint","CalgaryCommunities","WardBoundaries20132017", "WardBoundaries", "CityQuadrants"]
#droping NA values and checking data
crime_cleaned.dropna(inplace=True)
crime_cleaned.head(5)

,Sector,CommunityName,Category,CrimeCount,Date,Year,Month,ID,CommunityCenterPoint,CalgaryCommunities,WardBoundaries20132017,WardBoundaries,CityQuadrants
8,WEST,01C,Theft FROM Vehicle,1,2019/08,2019,AUG,2019-AUG-01C-Theft FROM Vehicle,POINT (-114.2380197 51.08500322),291.0,9.0,13.0,1.0
10,SOUTH,PARKLAND,Theft OF Vehicle,1,2019/01,2019,JAN,2019-JAN-PARKLAND-Theft OF Vehicle,POINT (-114.0285394 50.9211972),117.0,13.0,6.0,3.0
11,SOUTH,SOMERSET,Street Robbery,1,2019/02,2019,FEB,2019-FEB-SOMERSET-Street Robbery,POINT (-114.0813075 50.89869686),55.0,6.0,5.0,1.0
12,WEST,LAKEVIEW,Theft OF Vehicle,1,2019/11,2019,NOV,2019-NOV-LAKEVIEW-Theft OF Vehicle,POINT (-114.1296334 50.99977294),129.0,5.0,8.0,1.0
13,NORTH,STONEY 1,Assault (Non-domestic),1,2019/09,2019,SEP,2019-SEP-STONEY 1-Assault (Non-domestic),POINT (-114.0246985 51.16118788),163.0,12.0,11.0,4.0

In [15]:
print(len(crimestats))
print(crimestats.isna().sum())
print(len(crime_cleaned))
print(crime_cleaned.isna().sum())

11857
Sector                          70
Community Name                   0
Category                         0
Crime Count                      0
Date                             0
Year                             0
Month                            0
ID                               0
Resident Count               11857
Community Center Point          70
Calgary Communities             70
Ward Boundaries 2013-2017       70
Ward Boundaries                 70
City Quadrants                  70
dtype: int64
11787
Sector                    0
CommunityName             0
Category                  0
CrimeCount                0
Date                      0
Year                      0
Month                     0
ID                        0
CommunityCenterPoint      0
CalgaryCommunities        0
WardBoundaries20132017    0
WardBoundaries            0
CityQuadrants             0
dtype: int64

## Inserting Data into SQL

### Connecting to Databse

In [5]:
filepath1 = "C:/Users/ethan/Downloads/Data 604/Term Project/group password.txt"
filepath2 = "C:\Users\James\Documents\School\group password.txtt"
filepath3 = "file3.txt"

if os.path.exists(filepath1):
    filepath = filepath1
elif os.path.exists(filepath2):
    filepath = filepath2
elif os.path.exists(filepath3):
    filepath = filepath3
else:
    print('The file does not exist in any of the specified paths.')


with open(filepath) as f:
    passw = f.read()
    
# attempt a connection
myconnection = mysql.connector.connect(user='l01-4', 
                                       password=passw,
                                       host='datasciencedb2.ucalgary.ca', 
                                       database='l01-4',
                                       allow_local_infile=True)
myconnection

### Creating all 3 Tables

### Property Table

In [ ]:
#Table for property assessments
create_statement = '''create table l01-4.property_data (
    ROLL_YEAR int,
    ROLL_NUMBER int,
    ADDRESS varchar(1000), 
    ASSESSED_VALUE int,
    ASSESSMENT_CLASS_DESCRIPTION varchar(15),
    COMM_CODE varchar(3),
    COMM_NAME varchar(250),
    LAND_USE_DESIGNATION varchar(1000),
    LAND_SIZE_SM float,
    LAND_SIZE_SF float, 
    LAND_SIZE_AC float
    );'''

# now we'll create a cursor and run our create statement
create_cursor = myconnection.cursor()
try:
    create_cursor.execute(create_statement)
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
        print("Ooops! We already have that table")
    else:
        print(err.msg)
else:
    print("table created successfully!")

create_cursor.close()

### Census Table

In [ ]:
#Table for Census data
create_statement = '''create table l01-4.calgary_census_2019 (
    CLASS varchar(100),
    CLASS_CODE int,
    COMM_CODE varchar(100),
    NAME varchar(100),
    SECTOR varchar(100),
    COMM_STRUCTURE varchar(100),
    CNSS_YR int,
    RES_CNT int,
    DWELL_CNT int,
    PRSCH_CHLD int,
    ELECT_CNT int,
    EMPLYD_CNT int,
    OWNSHP_CNT int,
    DOG_CNT int,
    CAT_CNT int,
    PUB_SCH int,
    SEP_SCH int,
    PUBSEP_SCH int,
    OTHER_SCH int,
    UNKNWN_SCH int,
    SING_FAMLY int,
    DUPLEX int,
    MULTI_PLEX int,
    APARTMENT int,
    TOWN_HOUSE int,
    MANUF_HOME int,
    CONV_STRUC int,
    COMUNL_HSE int,
    RES_COMM int,
    OTHER_RES int,
    NURSING_HM int,
    OTHER_INST int,
    HOTEL_CNT int,
    OTHER_MISC int,
    APT_NO_RES int,
    APT_OCCPD int,
    APT_OWNED int,
    APT_PERSON int,
    APT_VACANT int,
    APT_UC int,
    APT_NA int,
    CNV_NO_RES int,
    CNV_OCCPD int,
    CNV_OWNED int,
    CNV_PERSON int,
    CNV_VACANT int,
    CNV_UC int,
    CNV_NA int,
    DUP_NO_RES int,
    DUP_OCCPD int,
    DUP_OWNED int,
    DUP_PERSON int,
    DUP_VACANT int,
    DUP_UC int,
    DUP_NA int,
    MFH_NO_RES int,
    MFH_OCCPD int,
    MFH_OWNED int,
    MFH_PERSON int,
    MFH_VACANT int,
    MFH_UC int,
    MFH_NA int,
    MUL_NO_RES int,
    MUL_OCCPD int,
    MUL_OWNED int,
    MUL_PERSON int,
    MUL_VACANT int,
    MUL_UC int,
    MUL_NA int,
    OTH_NO_RES int,
    OTH_OCCPD int,
    OTH_OWNED int,
    OTH_PERSON int,
    OTH_VACANT int,
    OTH_UC int,
    OTH_NA int,
    TWN_NO_RES int,
    TWN_OCCPD int,
    TWN_OWNED int,
    TWN_PERSON int,
    TWN_VACANT int,
    TWN_UC int,
    TWN_NA int,
    SF_NO_RES int,
    SF_OCCPD int,
    SF_OWNED int,
    SF_PERSON int,
    SF_VACANT int,
    SF_UC int,
    SF_NA int,
    OTH_STRTY int,
    DWELSZ_1 int,
    DWELSZ_2 int,
    DWELSZ_3 int,
    DWELSZ_4_5 int,
    DWELSZ_6 int,
    MALE_CNT int,
    FEMALE_CNT int,
    MALE_0_4 int,
    MALE_5_14 int,
    MALE_15_19 int,
    MALE_20_24 int,
    MALE_25_34 int,
    MALE_35_44 int,
    MALE_45_54 int,
    MALE_55_64 int,
    MALE_65_74 int,
    MALE_75 int,
    FEM_0_4 int,
    FEM_5_14 int,
    FEM_15_19 int,
    FEM_20_24 int,
    FEM_25_34 int,
    FEM_35_44 int,
    FEM_45_54 int,
    FEM_55_64 int,
    FEM_65_74 int,
    FEM_75 int,
    MF_0_4 int,
    MF_5_14 int,
    MF_15_19 int,
    MF_20_24 int,
    MF_25_34 int,
    MF_35_44 int,
    MF_45_54 int,
    MF_55_64 int,
    MF_65_74 int,
    MF_75 int,
    OTHER_CNT int,
    OTHER_0_4 int,
    OTHER_5_14 int,
    OTHER_15_19 int,
    OTHER_20_24 int,
    OTHER_25_34 int,
    OTHER_35_44 int,
    OTHER_45_54 int,
    OTHER_55_64 int,
    OTHER_65_74 int,
    OTHER_75 int
    );'''
    

create_cursor = myconnection.cursor()
try:
    create_cursor.execute(create_statement)
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
        print("Ooops! We already have that table")
    else:
        print(err.msg)
else:
    print("Table created successfully!")

create_cursor.close()

### Crime Stats Table

In [ ]:
#Table for Crime Stats
# CREATE TABLE STATEMENT
create_statement = '''create table l01-4.crimestats (
    Sector varchar(10),
    CommunityName varchar(250) NOT NULL,
    Category varchar(40),
    CrimeCount int,
    Date varchar(7),
    Year varchar(4),
    Month varchar(3),
    ID varchar(100),
    CommunityCenterPoint blob,
    CalgaryCommunities int,
    WardBoundaries20132017 int,
    WardBoundaries int,
    CityQuadrants int
    );'''

# now we'll create a cursor and run our create statement
create_cursor = myconnection.cursor()
try:
    create_cursor.execute(create_statement)
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
        print("Ooops! We already have that table")
    else:
        print(err.msg)
else:
    print("table created successfully!")

create_cursor.close()

### Inserting data into SQL

In [ ]:
#Inserting into table for property assessments

In [ ]:
#Inserting into table for Census data

In [ ]:
#Inserting into table for Crime Stats

### Checking Data in SQL

In [ ]:
# Seeing head of property data
read_cursor = myconnection.cursor(buffered=True, dictionary=True)

query_string = ("SELECT * FROM property_data;")

read_cursor.execute(query_string)

# This is so we will only see first few values and not the whole dataset
count = 0
for library_value in read_cursor:
    print(library_value)
    count += 1
    #break if we have first 5 rows
    if count == 5:
        break

read_cursor.close()

In [ ]:
# Seeing head of census data
read_cursor = myconnection.cursor(buffered=True, dictionary=True)

query_string = ("SELECT * FROM census;")

read_cursor.execute(query_string)

# This is so we will only see first few values and not the whole dataset
count = 0
for library_value in read_cursor:
    print(library_value)
    count += 1
    #break if we have first 5 rows
    if count == 5:
        break

read_cursor.close()

In [ ]:
# Seeing head of  crime stats data
read_cursor = myconnection.cursor(buffered=True, dictionary=True)

query_string = ("SELECT * FROM crimestats;")

read_cursor.execute(query_string)

# This is so we will only see first few values and not the whole dataset
count = 0
for library_value in read_cursor:
    print(library_value)
    count += 1
    #break if we have first 5 rows
    if count == 5:
        break

read_cursor.close()

## Guiding Question #1: What is the Relationship Between Crime and Property Assessments? 

- Is there a connection between the historical property assessments and the types of crimes committed in different community districts? If so, what is it?
- Do areas with higher crime rates tend to have lower assessed property values? 
- Do areas with certain crime types tend to have different assessed property values?

## Guiding Question #2: What is the Relationship Between Community Demographics and Property Assessments? 
- What is the relationship between gender distribution and property assessments?
- Is there an effect between population density and property assessments? 
- Are property assessments in communities related to age demographics?

## Guiding Question #3: What is the Relationship Between Demographics and Crime Rates? 
- Is crime in communities more prevalent when certain age groups are more present?
- Is there a relationship between property types and crime types/rates? 
- Is there a relationship between gender demographics and crime types/rates?

### Closing Database Connection

In [6]:
#Closing connection
myconnection.close()

### Deleting Tables is needed

In [ ]:
#DELETE TABLE IF NEEDED. DO NOT RUN IF NOT REQUIRED.

deletecursor = myconnection.cursor()
sql = "DROP TABLE IF EXISTS ;"
deletecursor.execute(sql)
deletecursor.close()

## Discussion

Discussion Here

## Conclusion

Conclusion here

## Citations

Community crime statistics | open calgary. (n.d.). Retrieved 27 October 2023, from https://data.calgary.ca/Health-and-Safety/Community-Crime-Statistics/78gh-n26t

Historical property assessments (Parcel) | open calgary. (n.d.). Retrieved 27 October 2023, from https://data.calgary.ca/Government/Historical-Property-Assessments-Parcel-/4ur7-wsgc