# Data 604 Term Project

### Table of Contents

[Introduction](#introduction)

[Datasets](#datasets)

[Data Preparation](#Data-Preparation)
- [Data Cleaning](#data-cleaning)
   - [Property Data](#property-data)
   - [Census Data](#census-data)
   - [Crime Stats](#crime-stats)

[Inserting Data into SQL](#Inserting-Data-into-SQL)

- [Creating Tables](#creating-all-3-tables)
   - [Property Assesments Table](#property-table)
   - [Community Demographics Table](#census-table)
   - [Crime Stats Table](#crime-stats-table)
- [Inserting Data into SQL](#Inserting-data-into-SQL)
   - []()
   - []()
   - []()
- [Checking Data in SQL](#Checking-Data-in-SQL)
   - []()
   - []()
   - []()

[Guiding Question #1: What is the Relationship Between Crime and Property Assessments?](#guiding-question-1-what-is-the-relationship-between-crime-and-property-assessments)

- [Subquestion 1](#)
- [Subquestion 2](#)
- [Subquestion 3](#)

[Guiding Question #2: What is the Relationship Between Community Demographics and Property Assessments?](#guiding-question-2-what-is-the-relationship-between-community-demographics-and-property-assessments)

- [Subquestion 1](#)
- [Subquestion 2](#)
- [Subquestion 3](#)

[Guiding Question #3: What is the Relationship Between Demographics and Crime Rates?](#guiding-question-3-what-is-the-relationship-between-demographics-and-crime-rates)

- [Subquestion 1](#)
- [Subquestion 2](#)
- [Subquestion 3](#)

[Discussion](#discussion)

[Conclusion](#conclusion)

[Citations](#Citations)

## Introduction

Intro here

## Datasets

Explaining Datasets

## Loading Datasets

In [1]:
import pandas as pd
import mysql.connector
from mysql.connector import errorcode
import os
import sqlalchemy as sq
#import geopandas as gpd

In [2]:
census = pd.read_csv('https://raw.githubusercontent.com/ethan2411/Data-603-604/main/604%20Data/Census_by_Community_2019_20231027.csv')
crimestats = pd.read_csv("https://raw.githubusercontent.com/ethan2411/Data-603-604/main/604%20Data/Community_Crime_Statistics.csv")
#property csv broken down into 9 smaller files
Property1 = pd.read_csv('https://raw.githubusercontent.com/ethan2411/Data-603-604/main/604%20Data/Historical_Property_Assessments__Parcel_-1.csv')
Property2 = pd.read_csv('https://raw.githubusercontent.com/ethan2411/Data-603-604/main/604%20Data/Historical_Property_Assessments__Parcel_-2.csv')
Property3 = pd.read_csv('https://raw.githubusercontent.com/ethan2411/Data-603-604/main/604%20Data/Historical_Property_Assessments__Parcel_-3.csv')
Property4 = pd.read_csv('https://raw.githubusercontent.com/ethan2411/Data-603-604/main/604%20Data/Historical_Property_Assessments__Parcel_-4.csv')
Property5 = pd.read_csv('https://raw.githubusercontent.com/ethan2411/Data-603-604/main/604%20Data/Historical_Property_Assessments__Parcel_-5.csv')
Property6 = pd.read_csv('https://raw.githubusercontent.com/ethan2411/Data-603-604/main/604%20Data/Historical_Property_Assessments__Parcel_-6.csv')
Property7 = pd.read_csv('https://raw.githubusercontent.com/ethan2411/Data-603-604/main/604%20Data/Historical_Property_Assessments__Parcel_-7.csv')
Property8 = pd.read_csv('https://raw.githubusercontent.com/ethan2411/Data-603-604/main/604%20Data/Historical_Property_Assessments__Parcel_-8.csv')
Property9 = pd.read_csv('https://raw.githubusercontent.com/ethan2411/Data-603-604/main/604%20Data/Historical_Property_Assessments__Parcel_-9.csv')

Property_Assessment_Data = pd.read_csv('https://raw.githubusercontent.com/ethan2411/Data-603-604/main/604%20Data/PropertyData.csv')

#geographic data just incase we want it, would need to find one for calgary
#geodf = gpd.read_file('https://raw.githubusercontent.com/ethan2411/Data-603-604/main/neighbourhoods.geojson')

## Data Preparation

In [3]:
#size of dataframes
print('Census: ',census.shape)
print('Crime: ',crimestats.shape)
print('Property1: ',Property1.shape)
print('Property2: ',Property2.shape)
print('Property3: ',Property3.shape)
print('Property4: ',Property4.shape)
print('Property5: ',Property5.shape)
print('Property6: ',Property6.shape)
print('Property7: ',Property7.shape)
print('Property8: ',Property8.shape)
print('Property9: ',Property9.shape)

Census:  (306, 142)
Crime:  (11857, 14)
Property1:  (72411, 17)
Property2:  (68926, 17)
Property3:  (71513, 17)
Property4:  (63201, 17)
Property5:  (54357, 17)
Property6:  (54061, 17)
Property7:  (41072, 17)
Property8:  (40408, 17)
Property9:  (53961, 17)

In [4]:
census.head()

,CLASS,CLASS_CODE,COMM_CODE,NAME,SECTOR,SRG,COMM_STRUCTURE,CNSS_YR,FOIP_IND,RES_CNT,...,OTHER_5_14,OTHER_15_19,OTHER_20_24,OTHER_25_34,OTHER_35_44,OTHER_45_54,OTHER_55_64,OTHER_65_74,OTHER_75,multipolygon
0,Residential,1,LEG,LEGACY,SOUTH,DEVELOPING,BUILDING OUT,2019,NaN,6420,...,0,0,0,0,0,0,0,0,0,MULTIPOLYGON (((-114.021996041091 50.863078904...
1,Residential,1,HPK,HIGHLAND PARK,CENTRE,BUILT-OUT,1950s,2019,NaN,3838,...,0,0,0,0,0,0,0,0,0,MULTIPOLYGON (((-114.0691626854784 51.09565033...
2,Residential,1,CNS,CORNERSTONE,NORTHEAST,DEVELOPING,2000s,2019,NaN,2648,...,0,0,0,0,0,0,0,0,0,MULTIPOLYGON (((-113.91839732026011 51.1760690...
3,Residential,1,MON,MONTGOMERY,NORTHWEST,BUILT-OUT,1950s,2019,NaN,4515,...,0,0,0,0,0,0,0,0,0,MULTIPOLYGON (((-114.16457918083577 51.0814533...
4,Residential,1,TEM,TEMPLE,NORTHEAST,BUILT-OUT,1960s/1970s,2019,NaN,10977,...,0,0,0,0,0,0,0,0,0,MULTIPOLYGON (((-113.93512706147847 51.0960756...

In [5]:
crimestats.head()

,Sector,Community Name,Category,Crime Count,Date,Year,Month,ID,Resident Count,Community Center Point,Calgary Communities,Ward Boundaries 2013-2017,Ward Boundaries,City Quadrants
0,NaN,14V,Break & Enter - Commercial,1,2019/04,2019,APR,2019-APR-14V-Break & Enter - Commercial,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,02A,Assault (Non-domestic),1,2019/12,2019,DEC,2019-DEC-02A-Assault (Non-domestic),NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,10A,Theft FROM Vehicle,1,2019/01,2019,JAN,2019-JAN-10A-Theft FROM Vehicle,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,10C,Theft OF Vehicle,1,2019/11,2019,NOV,2019-NOV-10C-Theft OF Vehicle,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,14V,Theft FROM Vehicle,1,2019/01,2019,JAN,2019-JAN-14V-Theft FROM Vehicle,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
display(Property1.head())
display(Property9.tail())

,ROLL_YEAR,ROLL_NUMBER,ADDRESS,ASSESSED_VALUE,ASSESSMENT_CLASS_DESCRIPTION,RE_ASSESSED_VALUE,FL_ASSESSED_VALUE,COMM_CODE,COMM_NAME,YEAR_OF_CONSTRUCTION,LAND_USE_DESIGNATION,PROPERTY_TYPE,LAND_SIZE_SM,LAND_SIZE_SF,LAND_SIZE_AC,SUB_PROPERTY_USE,MULTIPOLYGON
0,2019,23152127,5922 TROLLINGER ST NE,332500,Residential,332500.0,NaN,THO,THORNCLIFFE,NaN,NaN,LI,NaN,NaN,NaN,NaN,"MULTIPOLYGON (((-114.0592693 51.1035716, -114...."
1,2019,4032504,52 SADDLEBACK WY NE,360000,Residential,360000.0,NaN,SAD,SADDLE RIDGE,NaN,R-1N,LI,310.0,3337.0,0.08,NaN,"MULTIPOLYGON (((-113.9490855 51.1277451, -113...."
2,2019,4032603,48 SADDLEBACK WY NE,366000,Residential,366000.0,NaN,SAD,SADDLE RIDGE,NaN,R-1N,LI,391.4,4214.0,0.10,NaN,"MULTIPOLYGON (((-113.9492072 51.1277092, -113...."
3,2019,4032702,10 SADDLEBACK RD NE,404000,Residential,404000.0,NaN,SAD,SADDLE RIDGE,NaN,R-1N,LI,340.0,3659.0,0.08,NaN,"MULTIPOLYGON (((-113.9505519 51.1280999, -113...."
4,2019,4032801,14 SADDLEBACK RD NE,385500,Residential,385500.0,NaN,SAD,SADDLE RIDGE,NaN,R-1N,LI,347.5,3741.0,0.09,NaN,"MULTIPOLYGON (((-113.9504361 51.1281539, -113...."

,ROLL_YEAR,ROLL_NUMBER,ADDRESS,ASSESSED_VALUE,ASSESSMENT_CLASS_DESCRIPTION,RE_ASSESSED_VALUE,FL_ASSESSED_VALUE,COMM_CODE,COMM_NAME,YEAR_OF_CONSTRUCTION,LAND_USE_DESIGNATION,PROPERTY_TYPE,LAND_SIZE_SM,LAND_SIZE_SF,LAND_SIZE_AC,SUB_PROPERTY_USE,MULTIPOLYGON
53956,2019,792044703,130 CRANWELL CL SE,488000,Residential,488000.0,NaN,CRA,CRANSTON,NaN,R-1,LI,451.0,4855.0,0.11,NaN,"MULTIPOLYGON (((-113.9839438 50.8894511, -113...."
53957,2019,792044802,126 CRANWELL CL SE,495000,Residential,495000.0,NaN,CRA,CRANSTON,NaN,R-1,LI,438.2,4717.0,0.11,NaN,"MULTIPOLYGON (((-113.9837799 50.8894056, -113...."
53958,2019,792044901,122 CRANWELL CL SE,523000,Residential,523000.0,NaN,CRA,CRANSTON,NaN,R-1,LI,484.6,5216.0,0.12,NaN,"MULTIPOLYGON (((-113.9836836 50.8892794, -113...."
53959,2019,814002002,20606 56 ST SE,1910000,Residential,1855183.0,54817.0,12F,RESIDUAL WARD 12 - SUB AREA 12F,NaN,"S-FUD,S-SPR,C-C1,M-1,S-R,R-G,R-Gm",LO,647184.6,6966465.0,159.93,FL0303,"MULTIPOLYGON (((-113.9406584 50.8632467, -113...."
53960,2019,857001002,21909 72 ST SE,460000,Residential,452410.0,7590.0,12I,RESIDUAL WARD 12 - SUB AREA 12I,NaN,ANRI,LI,352070.0,3789774.0,87.00,FL0303,"MULTIPOLYGON (((-113.9406392 50.8512193, -113...."

In [6]:
#if we want
#geodf.head()

,neighbourhood,neighbourhood_group,geometry
0,Lincoln Square,NaN,"MULTIPOLYGON (((-87.67440 41.97610, -87.67440 ..."
1,Hyde Park,NaN,"MULTIPOLYGON (((-87.58037 41.80252, -87.58039 ..."
2,Woodlawn,NaN,"MULTIPOLYGON (((-87.57714 41.78614, -87.57714 ..."
3,Rogers Park,NaN,"MULTIPOLYGON (((-87.65455 41.99817, -87.65573 ..."
4,Jefferson Park,NaN,"MULTIPOLYGON (((-87.75263 41.96797, -87.75279 ..."

### Data Cleaning

#### Property Data

In [7]:
#checked which columns had NaN values present and how many were present 

display(Property1.isna().sum())
display(Property2.isna().sum())
display(Property3.isna().sum())
display(Property4.isna().sum())
display(Property5.isna().sum())
display(Property6.isna().sum())
display(Property7.isna().sum())
display(Property8.isna().sum())
display(Property9.isna().sum())

ROLL_YEAR                           0
ROLL_NUMBER                         0
ADDRESS                             0
ASSESSED_VALUE                      0
ASSESSMENT_CLASS_DESCRIPTION        0
RE_ASSESSED_VALUE                  24
FL_ASSESSED_VALUE               72411
COMM_CODE                           0
COMM_NAME                           0
YEAR_OF_CONSTRUCTION            72411
LAND_USE_DESIGNATION                8
PROPERTY_TYPE                       0
LAND_SIZE_SM                        8
LAND_SIZE_SF                        8
LAND_SIZE_AC                        8
SUB_PROPERTY_USE                71054
MULTIPOLYGON                        0
dtype: int64

ROLL_YEAR                           0
ROLL_NUMBER                         0
ADDRESS                             3
ASSESSED_VALUE                      0
ASSESSMENT_CLASS_DESCRIPTION        0
RE_ASSESSED_VALUE                  80
FL_ASSESSED_VALUE               68926
COMM_CODE                           0
COMM_NAME                           0
YEAR_OF_CONSTRUCTION            68924
LAND_USE_DESIGNATION                5
PROPERTY_TYPE                       0
LAND_SIZE_SM                        5
LAND_SIZE_SF                        5
LAND_SIZE_AC                        5
SUB_PROPERTY_USE                61771
MULTIPOLYGON                        0
dtype: int64

ROLL_YEAR                           0
ROLL_NUMBER                         0
ADDRESS                             0
ASSESSED_VALUE                      0
ASSESSMENT_CLASS_DESCRIPTION        0
RE_ASSESSED_VALUE                  73
FL_ASSESSED_VALUE               71513
COMM_CODE                           0
COMM_NAME                           0
YEAR_OF_CONSTRUCTION            71511
LAND_USE_DESIGNATION                3
PROPERTY_TYPE                       0
LAND_SIZE_SM                        3
LAND_SIZE_SF                        3
LAND_SIZE_AC                        3
SUB_PROPERTY_USE                69714
MULTIPOLYGON                        0
dtype: int64

ROLL_YEAR                           0
ROLL_NUMBER                         0
ADDRESS                             0
ASSESSED_VALUE                      0
ASSESSMENT_CLASS_DESCRIPTION        0
RE_ASSESSED_VALUE                  40
FL_ASSESSED_VALUE               63193
COMM_CODE                           0
COMM_NAME                           0
YEAR_OF_CONSTRUCTION            63201
LAND_USE_DESIGNATION                0
PROPERTY_TYPE                       0
LAND_SIZE_SM                        0
LAND_SIZE_SF                        0
LAND_SIZE_AC                        0
SUB_PROPERTY_USE                57786
MULTIPOLYGON                        0
dtype: int64

ROLL_YEAR                           0
ROLL_NUMBER                         0
ADDRESS                             0
ASSESSED_VALUE                      0
ASSESSMENT_CLASS_DESCRIPTION        0
RE_ASSESSED_VALUE                  38
FL_ASSESSED_VALUE               54336
COMM_CODE                           0
COMM_NAME                           0
YEAR_OF_CONSTRUCTION            54357
LAND_USE_DESIGNATION                3
PROPERTY_TYPE                       0
LAND_SIZE_SM                        3
LAND_SIZE_SF                        3
LAND_SIZE_AC                        3
SUB_PROPERTY_USE                44331
MULTIPOLYGON                        0
dtype: int64

ROLL_YEAR                           0
ROLL_NUMBER                         0
ADDRESS                             0
ASSESSED_VALUE                      0
ASSESSMENT_CLASS_DESCRIPTION        0
RE_ASSESSED_VALUE                  23
FL_ASSESSED_VALUE               53976
COMM_CODE                           0
COMM_NAME                           0
YEAR_OF_CONSTRUCTION            54061
LAND_USE_DESIGNATION               11
PROPERTY_TYPE                       0
LAND_SIZE_SM                        0
LAND_SIZE_SF                        0
LAND_SIZE_AC                        0
SUB_PROPERTY_USE                41794
MULTIPOLYGON                        0
dtype: int64

ROLL_YEAR                           0
ROLL_NUMBER                         0
ADDRESS                             0
ASSESSED_VALUE                      0
ASSESSMENT_CLASS_DESCRIPTION        0
RE_ASSESSED_VALUE                  29
FL_ASSESSED_VALUE               41068
COMM_CODE                           0
COMM_NAME                           0
YEAR_OF_CONSTRUCTION            41070
LAND_USE_DESIGNATION                0
PROPERTY_TYPE                       0
LAND_SIZE_SM                        0
LAND_SIZE_SF                        0
LAND_SIZE_AC                        0
SUB_PROPERTY_USE                31564
MULTIPOLYGON                        0
dtype: int64

ROLL_YEAR                           0
ROLL_NUMBER                         0
ADDRESS                             0
ASSESSED_VALUE                      0
ASSESSMENT_CLASS_DESCRIPTION        0
RE_ASSESSED_VALUE                  45
FL_ASSESSED_VALUE               40387
COMM_CODE                           0
COMM_NAME                           0
YEAR_OF_CONSTRUCTION            40406
LAND_USE_DESIGNATION                4
PROPERTY_TYPE                       0
LAND_SIZE_SM                        4
LAND_SIZE_SF                        4
LAND_SIZE_AC                        4
SUB_PROPERTY_USE                29907
MULTIPOLYGON                        0
dtype: int64

ROLL_YEAR                           0
ROLL_NUMBER                         0
ADDRESS                             0
ASSESSED_VALUE                      0
ASSESSMENT_CLASS_DESCRIPTION        0
RE_ASSESSED_VALUE                  15
FL_ASSESSED_VALUE               53921
COMM_CODE                           0
COMM_NAME                           0
YEAR_OF_CONSTRUCTION            53961
LAND_USE_DESIGNATION                9
PROPERTY_TYPE                       0
LAND_SIZE_SM                        5
LAND_SIZE_SF                        5
LAND_SIZE_AC                        5
SUB_PROPERTY_USE                51517
MULTIPOLYGON                        0
dtype: int64

In [ ]:
#Cleaning the dataframes to get rid of nan values so we can load it into the database

#make a list containing all our dataframes
frames = [Property1, Property2, Property3, Property4, Property5, Property6, Property7, Property8, Property9]

#make a list of the columns where we want to drop any of the rows that have NaN values in these columns
na_rows_to_drop = ["LAND_USE_DESIGNATION", "LAND_SIZE_SM", "LAND_SIZE_SF", "LAND_SIZE_AC","ADDRESS"]

#make a list of the columns we want to drop because the majority of the column contains NaN values or the column is undesired such as geo/multipolygon data (since it is insanely large and crashes loading into the db, we dont need it anyways). 
columns_to_drop = ["FL_ASSESSED_VALUE","YEAR_OF_CONSTRUCTION", "SUB_PROPERTY_USE", "PROPERTY_TYPE", "RE_ASSESSED_VALUE", "MULTIPOLYGON"]

#loop through all our 9 dataframes
for dataset in frames:
    #drop any rows containing NaN values from the columns where we saw NaN values to be present (we only are doing this with the columns that we want to keep and only have a small amount of NaN values)
    for col in na_rows_to_drop:
        dataset.dropna(subset=[col], inplace=True)
        
    #drop all unnecesarry columns that we are not going to be using (drop columns with the majority of the data being NaN values and also columns that are non-desired)
    for col in columns_to_drop:
        dataset.drop(col, axis = 1, inplace = True)

In [ ]:
#check if there are any more remaining NaN values present in any of the 9 datasets
display(Property1.isna().sum())
display(Property2.isna().sum())
display(Property3.isna().sum())
display(Property4.isna().sum())
display(Property5.isna().sum())
display(Property6.isna().sum())
display(Property7.isna().sum())
display(Property8.isna().sum())
display(Property9.isna().sum())

#we can see that there are no NaN values present so we are ready to insert the data into a database

In [ ]:
#merge all our separate cleaned/wrangled csvs into one so we can grab a sample from it and then insert it into the database 
frames = [Property1, Property2, Property3, Property4, Property5, Property6, Property7, Property8, Property9]

Property_Full = pd.concat(frames)

display(Property_Full)

In [ ]:
#take a sample of the massive combined dataset so that the data can be inserted int othe database at a quicker pace

#Note: I commented this entire cell out because I did not want to accidetally run it again since we did not want to keep grabbing different samples
#I tried setting the seed, however that still did not stop from the sample being different every time. We also checked to see if the sample contained the same amount of unique community codes and we found it contained 249 of 260 community codes. We checked to see which codes were not present and they ended up being residual ward areas so not even communities (we did not plan on using these anyways so there was no issue in them missing)

#import random

#random.seed(2023)

#Property_Data = Property_Full.sample(200000)

#display(Property_Full["COMM_CODE"].nunique())
#display(Property_Data["COMM_CODE"].nunique())

#display(Property_Data)

In [ ]:
#Take our sample dataset that was made and save it as a CSV file so that the data would not be changed and would forever be saved in case we had issues and needed to go back to the specific data we are using. 

#Property_Data.to_csv("PropertyData.csv", index=False)

#### Census Data

In [8]:
#checking for null values in the dataframe and seeing if any can be dropped from our analysis. 

missing_val=census.isnull().sum()
non_missing_val= census.notnull().sum()
total_val=census.shape[0]
percentage_missing=missing_val/total_val*100

#finding the columns with any null values (with a percentage >0)
drop_columns= percentage_missing[percentage_missing > 0].index
drop_columns

Index(['SRG', 'FOIP_IND'], dtype='object')

In [9]:
#dropping the columns with null values. 
df_dropped = census.drop(columns=drop_columns, inplace=False)
df_dropped = df_dropped.drop(columns="multipolygon")
df_dropped

,CLASS,CLASS_CODE,COMM_CODE,NAME,SECTOR,COMM_STRUCTURE,CNSS_YR,RES_CNT,DWELL_CNT,PRSCH_CHLD,...,OTHER_0_4,OTHER_5_14,OTHER_15_19,OTHER_20_24,OTHER_25_34,OTHER_35_44,OTHER_45_54,OTHER_55_64,OTHER_65_74,OTHER_75
0,Residential,1,LEG,LEGACY,SOUTH,BUILDING OUT,2019,6420,2766,850,...,0,0,0,0,0,0,0,0,0,0
1,Residential,1,HPK,HIGHLAND PARK,CENTRE,1950s,2019,3838,2277,325,...,0,0,0,0,0,0,0,0,0,0
2,Residential,1,CNS,CORNERSTONE,NORTHEAST,2000s,2019,2648,1285,199,...,0,0,0,0,0,0,0,0,0,0
3,Residential,1,MON,MONTGOMERY,NORTHWEST,1950s,2019,4515,2013,328,...,0,0,0,0,0,0,0,0,0,0
4,Residential,1,TEM,TEMPLE,NORTHEAST,1960s/1970s,2019,10977,3733,908,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,Residual Sub Area,4,01H,01H,WEST,UNDEVELOPED,2019,0,0,0,...,0,0,0,0,0,0,0,0,0,0
302,Residential,1,HID,HIDDEN VALLEY,NORTH,1980s/1990s,2019,11566,3880,762,...,0,6,6,6,0,0,9,0,0,0
303,Residential,1,RIV,RIVERBEND,SOUTHEAST,1980s/1990s,2019,9244,3474,579,...,0,0,0,0,0,0,0,0,0,0
304,Residential,1,RID,RIDEAU PARK,CENTRE,INNER CITY,2019,594,342,0,...,0,0,0,0,0,0,0,0,0,0
305,Industrial,2,FRA,FRANKLIN,NORTHEAST,EMPLOYMENT,2019,0,3,0,...,0,0,0,0,0,0,0,0,0,0

#### Crime Stats

In [10]:
#Dropping columns that aren't neccesary and renaming comlumns
crime_cleaned = crimestats.drop('Resident Count', axis=1)
crime_cleaned.columns = ["Sector", "CommunityName","Category","CrimeCount","Date", "Year", "Month", "ID","CommunityCenterPoint","CalgaryCommunities","WardBoundaries20132017", "WardBoundaries", "CityQuadrants"]
#droping NA values and checking data
crime_cleaned.dropna(inplace=True)
crime_cleaned.head(5)

,Sector,CommunityName,Category,CrimeCount,Date,Year,Month,ID,CommunityCenterPoint,CalgaryCommunities,WardBoundaries20132017,WardBoundaries,CityQuadrants
8,WEST,01C,Theft FROM Vehicle,1,2019/08,2019,AUG,2019-AUG-01C-Theft FROM Vehicle,POINT (-114.2380197 51.08500322),291.0,9.0,13.0,1.0
10,SOUTH,PARKLAND,Theft OF Vehicle,1,2019/01,2019,JAN,2019-JAN-PARKLAND-Theft OF Vehicle,POINT (-114.0285394 50.9211972),117.0,13.0,6.0,3.0
11,SOUTH,SOMERSET,Street Robbery,1,2019/02,2019,FEB,2019-FEB-SOMERSET-Street Robbery,POINT (-114.0813075 50.89869686),55.0,6.0,5.0,1.0
12,WEST,LAKEVIEW,Theft OF Vehicle,1,2019/11,2019,NOV,2019-NOV-LAKEVIEW-Theft OF Vehicle,POINT (-114.1296334 50.99977294),129.0,5.0,8.0,1.0
13,NORTH,STONEY 1,Assault (Non-domestic),1,2019/09,2019,SEP,2019-SEP-STONEY 1-Assault (Non-domestic),POINT (-114.0246985 51.16118788),163.0,12.0,11.0,4.0

In [11]:
print(len(crimestats))
print(crimestats.isna().sum())
print(len(crime_cleaned))
print(crime_cleaned.isna().sum())

11857
Sector                          70
Community Name                   0
Category                         0
Crime Count                      0
Date                             0
Year                             0
Month                            0
ID                               0
Resident Count               11857
Community Center Point          70
Calgary Communities             70
Ward Boundaries 2013-2017       70
Ward Boundaries                 70
City Quadrants                  70
dtype: int64
11787
Sector                    0
CommunityName             0
Category                  0
CrimeCount                0
Date                      0
Year                      0
Month                     0
ID                        0
CommunityCenterPoint      0
CalgaryCommunities        0
WardBoundaries20132017    0
WardBoundaries            0
CityQuadrants             0
dtype: int64

## Inserting Data into SQL

### Connecting to Database

In [3]:
filepath1 = "C:/Users/ethan/Downloads/Data 604/Term Project/group password.txt"
filepath2 = "C:/Users/James/Documents/School/group password.txt"
filepath3 = "C:/Users/chore/Downloads/grouppassword.txt"

if os.path.exists(filepath1):
    filepath = filepath1
elif os.path.exists(filepath2):
    filepath = filepath2
elif os.path.exists(filepath3):
    filepath = filepath3
else:
    print('The file does not exist in any of the specified paths.')


with open(filepath) as f:
    passw = f.read()
    
# attempt a connection
myconnection = mysql.connector.connect(user='l01-4', 
                                       password=passw,
                                       host='datasciencedb2.ucalgary.ca', 
                                       database='l01-4',
                                       allow_local_infile=True)
myconnection

In [7]:
engine = sq.create_engine('mysql+mysqlconnector://l01-4:{}@datasciencedb2.ucalgary.ca/l01-4'.format(passw))
engine

Engine(mysql+mysqlconnector://l01-4:***@datasciencedb2.ucalgary.ca/l01-4)

### Creating all 3 Tables

### Property Table

In [13]:
#Table for property assessments
create_statement = '''create table `l01-4`.property_data (
    ROLL_YEAR int,
    ROLL_NUMBER int,
    ADDRESS varchar(1000), 
    ASSESSED_VALUE int,
    ASSESSMENT_CLASS_DESCRIPTION varchar(15),
    COMM_CODE varchar(3),
    COMM_NAME varchar(250),
    LAND_USE_DESIGNATION varchar(1000),
    LAND_SIZE_SM float,
    LAND_SIZE_SF float, 
    LAND_SIZE_AC float
    );'''

# now we'll create a cursor and run our create statement
create_cursor = myconnection.cursor()
try:
    create_cursor.execute(create_statement)
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
        print("Ooops! We already have that table")
    else:
        print(err.msg)
else:
    print("table created successfully!")

create_cursor.close()

table created successfully!

True

In [ ]:
###THIS IS MAKING TABLES IN SQL ALCHEMY
cpl_locations.to_sql('library_locations', engine )

### Census Table

In [15]:
#Table for Census data
create_statement = '''create table `l01-4`.calgary_census_2019 (
    CLASS varchar(100),
    CLASS_CODE int,
    COMM_CODE varchar(100),
    NAME varchar(100),
    SECTOR varchar(100),
    COMM_STRUCTURE varchar(100),
    CNSS_YR int,
    RES_CNT int,
    DWELL_CNT int,
    PRSCH_CHLD int,
    ELECT_CNT int,
    EMPLYD_CNT int,
    OWNSHP_CNT int,
    DOG_CNT int,
    CAT_CNT int,
    PUB_SCH int,
    SEP_SCH int,
    PUBSEP_SCH int,
    OTHER_SCH int,
    UNKNWN_SCH int,
    SING_FAMLY int,
    DUPLEX int,
    MULTI_PLEX int,
    APARTMENT int,
    TOWN_HOUSE int,
    MANUF_HOME int,
    CONV_STRUC int,
    COMUNL_HSE int,
    RES_COMM int,
    OTHER_RES int,
    NURSING_HM int,
    OTHER_INST int,
    HOTEL_CNT int,
    OTHER_MISC int,
    APT_NO_RES int,
    APT_OCCPD int,
    APT_OWNED int,
    APT_PERSON int,
    APT_VACANT int,
    APT_UC int,
    APT_NA int,
    CNV_NO_RES int,
    CNV_OCCPD int,
    CNV_OWNED int,
    CNV_PERSON int,
    CNV_VACANT int,
    CNV_UC int,
    CNV_NA int,
    DUP_NO_RES int,
    DUP_OCCPD int,
    DUP_OWNED int,
    DUP_PERSON int,
    DUP_VACANT int,
    DUP_UC int,
    DUP_NA int,
    MFH_NO_RES int,
    MFH_OCCPD int,
    MFH_OWNED int,
    MFH_PERSON int,
    MFH_VACANT int,
    MFH_UC int,
    MFH_NA int,
    MUL_NO_RES int,
    MUL_OCCPD int,
    MUL_OWNED int,
    MUL_PERSON int,
    MUL_VACANT int,
    MUL_UC int,
    MUL_NA int,
    OTH_NO_RES int,
    OTH_OCCPD int,
    OTH_OWNED int,
    OTH_PERSON int,
    OTH_VACANT int,
    OTH_UC int,
    OTH_NA int,
    TWN_NO_RES int,
    TWN_OCCPD int,
    TWN_OWNED int,
    TWN_PERSON int,
    TWN_VACANT int,
    TWN_UC int,
    TWN_NA int,
    SF_NO_RES int,
    SF_OCCPD int,
    SF_OWNED int,
    SF_PERSON int,
    SF_VACANT int,
    SF_UC int,
    SF_NA int,
    OTH_STRTY int,
    DWELSZ_1 int,
    DWELSZ_2 int,
    DWELSZ_3 int,
    DWELSZ_4_5 int,
    DWELSZ_6 int,
    MALE_CNT int,
    FEMALE_CNT int,
    MALE_0_4 int,
    MALE_5_14 int,
    MALE_15_19 int,
    MALE_20_24 int,
    MALE_25_34 int,
    MALE_35_44 int,
    MALE_45_54 int,
    MALE_55_64 int,
    MALE_65_74 int,
    MALE_75 int,
    FEM_0_4 int,
    FEM_5_14 int,
    FEM_15_19 int,
    FEM_20_24 int,
    FEM_25_34 int,
    FEM_35_44 int,
    FEM_45_54 int,
    FEM_55_64 int,
    FEM_65_74 int,
    FEM_75 int,
    MF_0_4 int,
    MF_5_14 int,
    MF_15_19 int,
    MF_20_24 int,
    MF_25_34 int,
    MF_35_44 int,
    MF_45_54 int,
    MF_55_64 int,
    MF_65_74 int,
    MF_75 int,
    OTHER_CNT int,
    OTHER_0_4 int,
    OTHER_5_14 int,
    OTHER_15_19 int,
    OTHER_20_24 int,
    OTHER_25_34 int,
    OTHER_35_44 int,
    OTHER_45_54 int,
    OTHER_55_64 int,
    OTHER_65_74 int,
    OTHER_75 int
    );'''
    

create_cursor = myconnection.cursor()
try:
    create_cursor.execute(create_statement)
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
        print("Ooops! We already have that table")
    else:
        print(err.msg)
else:
    print("Table created successfully!")

create_cursor.close()

Table created successfully!

True

### Crime Stats Table

In [16]:
#Table for Crime Stats
# CREATE TABLE STATEMENT
create_statement = '''create table `l01-4`.crimestats (
    Sector varchar(10),
    CommunityName varchar(250) NOT NULL,
    Category varchar(40),
    CrimeCount int,
    Date varchar(7),
    Year varchar(4),
    Month varchar(3),
    ID varchar(100),
    CommunityCenterPoint blob,
    CalgaryCommunities int,
    WardBoundaries20132017 int,
    WardBoundaries int,
    CityQuadrants int
    );'''

# now we'll create a cursor and run our create statement
create_cursor = myconnection.cursor()
try:
    create_cursor.execute(create_statement)
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
        print("Ooops! We already have that table")
    else:
        print(err.msg)
else:
    print("table created successfully!")

create_cursor.close()

table created successfully!

True

### Inserting data into SQL

In [14]:
#Inserting into table for property assessments

insertCursor = myconnection.cursor()

columnString = "`,`".join([str(currentColumn) for currentColumn in Property_Assessment_Data.columns.tolist()])

# inserting rows one by one from the DataFrame
for i, currentRow in Property_Assessment_Data.iterrows():
    insertCommand = "INSERT INTO `property_data` (`" + columnString + "`) VALUES (" + "%s,"*(len(currentRow)-1) + "%s)"
    insertCursor.execute(insertCommand, tuple(currentRow))
    
myconnection.commit()

insertCursor.close()

True

In [17]:
#Inserting into table for Census data
insertCursor = myconnection.cursor()

columnString = "`,`".join([str(currentColumn) for currentColumn in df_dropped.columns.tolist()])
#print (columnString)

# inserting rows one by one from the DataFrame is sufficient for now
for i, currentRow in df_dropped.iterrows():
    #print (tuple(currentRow))
    insertCommand = "INSERT INTO `calgary_census_2019` (`" + columnString + "`) VALUES (" + "%s,"*(len(currentRow)-1) + "%s)"
    #print (insertCommand)
    #print(tuple(currentRow))
    insertCursor.execute(insertCommand, tuple(currentRow))
    
myconnection.commit()

insertCursor.close()

True

In [18]:
#Inserting into table for Crime Stats
insertCursor = myconnection.cursor()

columnString = "`,`".join([str(currentColumn) for currentColumn in crime_cleaned.columns.tolist()])
#print (columnString)

# inserting rows one by one from the DataFrame is sufficient for now
for i, currentRow in crime_cleaned.iterrows():
    #print (tuple(currentRow))
    insertCommand = "INSERT INTO `crimestats` (`" + columnString + "`) VALUES (" + "%s,"*(len(currentRow)-1) + "%s)"
    insertCursor.execute(insertCommand, tuple(currentRow))
    
myconnection.commit()

insertCursor.close()

True

### Checking Data in SQL

In [19]:
# Seeing head of property data
read_cursor = myconnection.cursor(buffered=True, dictionary=True)

query_string = ("SELECT * FROM property_data;")

read_cursor.execute(query_string)

# This is so we will only see first few values and not the whole dataset
count = 0
for library_value in read_cursor:
    print(library_value)
    count += 1
    #break if we have first 5 rows
    if count == 5:
        break

read_cursor.close()

{'ROLL_YEAR': 2019, 'ROLL_NUMBER': 67946327, 'ADDRESS': '312 1040 15 AV SW', 'ASSESSED_VALUE': 228500, 'ASSESSMENT_CLASS_DESCRIPTION': 'Residential', 'COMM_CODE': 'BLN', 'COMM_NAME': 'BELTLINE', 'LAND_USE_DESIGNATION': 'CC-MH', 'LAND_SIZE_SM': 1010.0, 'LAND_SIZE_SF': 10871.0, 'LAND_SIZE_AC': 0.25}
{'ROLL_YEAR': 2019, 'ROLL_NUMBER': 202249132, 'ADDRESS': '302 1720 10 ST SW', 'ASSESSED_VALUE': 254000, 'ASSESSMENT_CLASS_DESCRIPTION': 'Residential', 'COMM_CODE': 'LMR', 'COMM_NAME': 'LOWER MOUNT ROYAL', 'LAND_USE_DESIGNATION': 'M-C2', 'LAND_SIZE_SM': 1615.8, 'LAND_SIZE_SF': 17393.0, 'LAND_SIZE_AC': 0.4}
{'ROLL_YEAR': 2019, 'ROLL_NUMBER': 79582243, 'ADDRESS': '2320 ERLTON PL SW', 'ASSESSED_VALUE': 616000, 'ASSESSMENT_CLASS_DESCRIPTION': 'Residential', 'COMM_CODE': 'ERL', 'COMM_NAME': 'ERLTON', 'LAND_USE_DESIGNATION': 'M-CG d87', 'LAND_SIZE_SM': 106.5, 'LAND_SIZE_SF': 1147.0, 'LAND_SIZE_AC': 0.03}
{'ROLL_YEAR': 2019, 'ROLL_NUMBER': 201219904, 'ADDRESS': '2406 11811 LAKE FRASER DR SE', 'ASSESSED_VALUE': 186000, 'ASSESSMENT_CLASS_DESCRIPTION': 'Residential', 'COMM_CODE': 'LKB', 'COMM_NAME': 'LAKE BONAVISTA', 'LAND_USE_DESIGNATION': 'DC (pre 1P2007),M-H1 d247', 'LAND_SIZE_SM': 22509.6, 'LAND_SIZE_SF': 242299.0, 'LAND_SIZE_AC': 5.56}
{'ROLL_YEAR': 2019, 'ROLL_NUMBER': 200571818, 'ADDRESS': '169 EVERSYDE CM SW', 'ASSESSED_VALUE': 302500, 'ASSESSMENT_CLASS_DESCRIPTION': 'Residential', 'COMM_CODE': 'EVE', 'COMM_NAME': 'EVERGREEN', 'LAND_USE_DESIGNATION': 'M-G d44', 'LAND_SIZE_SM': 123.0, 'LAND_SIZE_SF': 1324.0, 'LAND_SIZE_AC': 0.03}

True

In [21]:
# Seeing head of census data
read_cursor = myconnection.cursor(buffered=True, dictionary=True)

query_string = ("SELECT * FROM calgary_census_2019;")

read_cursor.execute(query_string)

# This is so we will only see first few values and not the whole dataset
count = 0
for library_value in read_cursor:
    print(library_value)
    count += 1
    #break if we have first 5 rows
    if count == 5:
        break

read_cursor.close()

{'CLASS': 'Residential', 'CLASS_CODE': 1, 'COMM_CODE': 'LEG', 'NAME': 'LEGACY', 'SECTOR': 'SOUTH', 'COMM_STRUCTURE': 'BUILDING OUT', 'CNSS_YR': 2019, 'RES_CNT': 6420, 'DWELL_CNT': 2766, 'PRSCH_CHLD': 850, 'ELECT_CNT': 0, 'EMPLYD_CNT': 0, 'OWNSHP_CNT': 1826, 'DOG_CNT': 0, 'CAT_CNT': 0, 'PUB_SCH': 1071, 'SEP_SCH': 506, 'PUBSEP_SCH': 175, 'OTHER_SCH': 107, 'UNKNWN_SCH': 907, 'SING_FAMLY': 1081, 'DUPLEX': 356, 'MULTI_PLEX': 14, 'APARTMENT': 1004, 'TOWN_HOUSE': 311, 'MANUF_HOME': 0, 'CONV_STRUC': 0, 'COMUNL_HSE': 0, 'RES_COMM': 0, 'OTHER_RES': 0, 'NURSING_HM': 0, 'OTHER_INST': 0, 'HOTEL_CNT': 0, 'OTHER_MISC': 0, 'APT_NO_RES': 8, 'APT_OCCPD': 909, 'APT_OWNED': 394, 'APT_PERSON': 1759, 'APT_VACANT': 83, 'APT_UC': 2, 'APT_NA': 2, 'CNV_NO_RES': 0, 'CNV_OCCPD': 0, 'CNV_OWNED': 0, 'CNV_PERSON': 0, 'CNV_VACANT': 0, 'CNV_UC': 0, 'CNV_NA': 0, 'DUP_NO_RES': 0, 'DUP_OCCPD': 343, 'DUP_OWNED': 308, 'DUP_PERSON': 944, 'DUP_VACANT': 8, 'DUP_UC': 3, 'DUP_NA': 1, 'MFH_NO_RES': 0, 'MFH_OCCPD': 0, 'MFH_OWNED': 0, 'MFH_PERSON': 0, 'MFH_VACANT': 0, 'MFH_UC': 0, 'MFH_NA': 0, 'MUL_NO_RES': 0, 'MUL_OCCPD': 12, 'MUL_OWNED': 9, 'MUL_PERSON': 25, 'MUL_VACANT': 2, 'MUL_UC': 0, 'MUL_NA': 0, 'OTH_NO_RES': 0, 'OTH_OCCPD': 0, 'OTH_OWNED': 0, 'OTH_PERSON': 0, 'OTH_VACANT': 0, 'OTH_UC': 0, 'OTH_NA': 0, 'TWN_NO_RES': 2, 'TWN_OCCPD': 258, 'TWN_OWNED': 222, 'TWN_PERSON': 660, 'TWN_VACANT': 7, 'TWN_UC': 44, 'TWN_NA': 0, 'SF_NO_RES': 19, 'SF_OCCPD': 949, 'SF_OWNED': 893, 'SF_PERSON': 3032, 'SF_VACANT': 46, 'SF_UC': 65, 'SF_NA': 2, 'OTH_STRTY': 0, 'DWELSZ_1': 460, 'DWELSZ_2': 945, 'DWELSZ_3': 459, 'DWELSZ_4_5': 556, 'DWELSZ_6': 48, 'MALE_CNT': 3125, 'FEMALE_CNT': 3283, 'MALE_0_4': 330, 'MALE_5_14': 387, 'MALE_15_19': 171, 'MALE_20_24': 212, 'MALE_25_34': 708, 'MALE_35_44': 604, 'MALE_45_54': 369, 'MALE_55_64': 196, 'MALE_65_74': 111, 'MALE_75': 37, 'FEM_0_4': 356, 'FEM_5_14': 375, 'FEM_15_19': 153, 'FEM_20_24': 206, 'FEM_25_34': 810, 'FEM_35_44': 600, 'FEM_45_54': 355, 'FEM_55_64': 250, 'FEM_65_74': 141, 'FEM_75': 37, 'MF_0_4': 686, 'MF_5_14': 762, 'MF_15_19': 324, 'MF_20_24': 418, 'MF_25_34': 1518, 'MF_35_44': 1204, 'MF_45_54': 724, 'MF_55_64': 446, 'MF_65_74': 252, 'MF_75': 74, 'OTHER_CNT': 0, 'OTHER_0_4': 0, 'OTHER_5_14': 0, 'OTHER_15_19': 0, 'OTHER_20_24': 0, 'OTHER_25_34': 0, 'OTHER_35_44': 0, 'OTHER_45_54': 0, 'OTHER_55_64': 0, 'OTHER_65_74': 0, 'OTHER_75': 0}
{'CLASS': 'Residential', 'CLASS_CODE': 1, 'COMM_CODE': 'HPK', 'NAME': 'HIGHLAND PARK', 'SECTOR': 'CENTRE', 'COMM_STRUCTURE': '1950s', 'CNSS_YR': 2019, 'RES_CNT': 3838, 'DWELL_CNT': 2277, 'PRSCH_CHLD': 325, 'ELECT_CNT': 0, 'EMPLYD_CNT': 0, 'OWNSHP_CNT': 645, 'DOG_CNT': 0, 'CAT_CNT': 0, 'PUB_SCH': 786, 'SEP_SCH': 190, 'PUBSEP_SCH': 107, 'OTHER_SCH': 84, 'UNKNWN_SCH': 1104, 'SING_FAMLY': 823, 'DUPLEX': 402, 'MULTI_PLEX': 45, 'APARTMENT': 520, 'TOWN_HOUSE': 24, 'MANUF_HOME': 0, 'CONV_STRUC': 460, 'COMUNL_HSE': 0, 'RES_COMM': 2, 'OTHER_RES': 1, 'NURSING_HM': 0, 'OTHER_INST': 0, 'HOTEL_CNT': 0, 'OTHER_MISC': 0, 'APT_NO_RES': 0, 'APT_OCCPD': 453, 'APT_OWNED': 70, 'APT_PERSON': 656, 'APT_VACANT': 62, 'APT_UC': 1, 'APT_NA': 2, 'CNV_NO_RES': 4, 'CNV_OCCPD': 302, 'CNV_OWNED': 0, 'CNV_PERSON': 484, 'CNV_VACANT': 122, 'CNV_UC': 5, 'CNV_NA': 25, 'DUP_NO_RES': 3, 'DUP_OCCPD': 354, 'DUP_OWNED': 214, 'DUP_PERSON': 887, 'DUP_VACANT': 39, 'DUP_UC': 5, 'DUP_NA': 1, 'MFH_NO_RES': 0, 'MFH_OCCPD': 0, 'MFH_OWNED': 0, 'MFH_PERSON': 0, 'MFH_VACANT': 0, 'MFH_UC': 0, 'MFH_NA': 0, 'MUL_NO_RES': 0, 'MUL_OCCPD': 40, 'MUL_OWNED': 0, 'MUL_PERSON': 65, 'MUL_VACANT': 5, 'MUL_UC': 0, 'MUL_NA': 0, 'OTH_NO_RES': 1, 'OTH_OCCPD': 2, 'OTH_OWNED': 0, 'OTH_PERSON': 0, 'OTH_VACANT': 0, 'OTH_UC': 0, 'OTH_NA': 0, 'TWN_NO_RES': 0, 'TWN_OCCPD': 18, 'TWN_OWNED': 0, 'TWN_PERSON': 46, 'TWN_VACANT': 4, 'TWN_UC': 2, 'TWN_NA': 0, 'SF_NO_RES': 3, 'SF_OCCPD': 743, 'SF_OWNED': 361, 'SF_PERSON': 1697, 'SF_VACANT': 68, 'SF_UC': 6, 'SF_NA': 0, 'OTH_STRTY': 3, 'DWELSZ_1': 734, 'DWELSZ_2': 725, 'DWELSZ_3': 241, 'DWELSZ_4_5': 195, 'DWELSZ_6': 11, 'MALE_CNT': 1986, 'FEMALE_CNT': 1846, 'MALE_0_4': 142, 'MALE_5_14': 167, 'MALE_15_19': 52, 'MALE_20_24': 119, 'MALE_25_34': 364, 'MALE_35_44': 456, 'MALE_45_54': 264, 'MALE_55_64': 243, 'MALE_65_74': 117, 'MALE_75': 62, 'FEM_0_4': 140, 'FEM_5_14': 155, 'FEM_15_19': 39, 'FEM_20_24': 98, 'FEM_25_34': 413, 'FEM_35_44': 342, 'FEM_45_54': 221, 'FEM_55_64': 216, 'FEM_65_74': 112, 'FEM_75': 110, 'MF_0_4': 282, 'MF_5_14': 322, 'MF_15_19': 91, 'MF_20_24': 217, 'MF_25_34': 777, 'MF_35_44': 798, 'MF_45_54': 485, 'MF_55_64': 459, 'MF_65_74': 229, 'MF_75': 172, 'OTHER_CNT': 0, 'OTHER_0_4': 0, 'OTHER_5_14': 0, 'OTHER_15_19': 0, 'OTHER_20_24': 0, 'OTHER_25_34': 0, 'OTHER_35_44': 0, 'OTHER_45_54': 0, 'OTHER_55_64': 0, 'OTHER_65_74': 0, 'OTHER_75': 0}
{'CLASS': 'Residential', 'CLASS_CODE': 1, 'COMM_CODE': 'CNS', 'NAME': 'CORNERSTONE', 'SECTOR': 'NORTHEAST', 'COMM_STRUCTURE': '2000s', 'CNSS_YR': 2019, 'RES_CNT': 2648, 'DWELL_CNT': 1285, 'PRSCH_CHLD': 199, 'ELECT_CNT': 0, 'EMPLYD_CNT': 0, 'OWNSHP_CNT': 708, 'DOG_CNT': 0, 'CAT_CNT': 0, 'PUB_SCH': 262, 'SEP_SCH': 42, 'PUBSEP_SCH': 14, 'OTHER_SCH': 27, 'UNKNWN_SCH': 940, 'SING_FAMLY': 595, 'DUPLEX': 264, 'MULTI_PLEX': 69, 'APARTMENT': 219, 'TOWN_HOUSE': 128, 'MANUF_HOME': 0, 'CONV_STRUC': 10, 'COMUNL_HSE': 0, 'RES_COMM': 0, 'OTHER_RES': 0, 'NURSING_HM': 0, 'OTHER_INST': 0, 'HOTEL_CNT': 0, 'OTHER_MISC': 0, 'APT_NO_RES': 0, 'APT_OCCPD': 0, 'APT_OWNED': 0, 'APT_PERSON': 0, 'APT_VACANT': 0, 'APT_UC': 219, 'APT_NA': 0, 'CNV_NO_RES': 0, 'CNV_OCCPD': 10, 'CNV_OWNED': 0, 'CNV_PERSON': 28, 'CNV_VACANT': 0, 'CNV_UC': 0, 'CNV_NA': 0, 'DUP_NO_RES': 0, 'DUP_OCCPD': 171, 'DUP_OWNED': 158, 'DUP_PERSON': 525, 'DUP_VACANT': 4, 'DUP_UC': 89, 'DUP_NA': 0, 'MFH_NO_RES': 0, 'MFH_OCCPD': 0, 'MFH_OWNED': 0, 'MFH_PERSON': 0, 'MFH_VACANT': 0, 'MFH_UC': 0, 'MFH_NA': 0, 'MUL_NO_RES': 0, 'MUL_OCCPD': 63, 'MUL_OWNED': 60, 'MUL_PERSON': 183, 'MUL_VACANT': 5, 'MUL_UC': 1, 'MUL_NA': 0, 'OTH_NO_RES': 0, 'OTH_OCCPD': 0, 'OTH_OWNED': 0, 'OTH_PERSON': 0, 'OTH_VACANT': 0, 'OTH_UC': 0, 'OTH_NA': 0, 'TWN_NO_RES': 0, 'TWN_OCCPD': 91, 'TWN_OWNED': 88, 'TWN_PERSON': 266, 'TWN_VACANT': 1, 'TWN_UC': 36, 'TWN_NA': 0, 'SF_NO_RES': 0, 'SF_OCCPD': 416, 'SF_OWNED': 402, 'SF_PERSON': 1646, 'SF_VACANT': 3, 'SF_UC': 175, 'SF_NA': 0, 'OTH_STRTY': 0, 'DWELSZ_1': 13, 'DWELSZ_2': 226, 'DWELSZ_3': 154, 'DWELSZ_4_5': 272, 'DWELSZ_6': 85, 'MALE_CNT': 1409, 'FEMALE_CNT': 1225, 'MALE_0_4': 136, 'MALE_5_14': 201, 'MALE_15_19': 63, 'MALE_20_24': 74, 'MALE_25_34': 275, 'MALE_35_44': 339, 'MALE_45_54': 137, 'MALE_55_64': 122, 'MALE_65_74': 54, 'MALE_75': 8, 'FEM_0_4': 81, 'FEM_5_14': 131, 'FEM_15_19': 65, 'FEM_20_24': 51, 'FEM_25_34': 332, 'FEM_35_44': 254, 'FEM_45_54': 124, 'FEM_55_64': 123, 'FEM_65_74': 64, 'FEM_75': 0, 'MF_0_4': 217, 'MF_5_14': 332, 'MF_15_19': 128, 'MF_20_24': 125, 'MF_25_34': 607, 'MF_35_44': 593, 'MF_45_54': 261, 'MF_55_64': 245, 'MF_65_74': 118, 'MF_75': 8, 'OTHER_CNT': 0, 'OTHER_0_4': 0, 'OTHER_5_14': 0, 'OTHER_15_19': 0, 'OTHER_20_24': 0, 'OTHER_25_34': 0, 'OTHER_35_44': 0, 'OTHER_45_54': 0, 'OTHER_55_64': 0, 'OTHER_65_74': 0, 'OTHER_75': 0}
{'CLASS': 'Residential', 'CLASS_CODE': 1, 'COMM_CODE': 'MON', 'NAME': 'MONTGOMERY', 'SECTOR': 'NORTHWEST', 'COMM_STRUCTURE': '1950s', 'CNSS_YR': 2019, 'RES_CNT': 4515, 'DWELL_CNT': 2013, 'PRSCH_CHLD': 328, 'ELECT_CNT': 0, 'EMPLYD_CNT': 0, 'OWNSHP_CNT': 1027, 'DOG_CNT': 0, 'CAT_CNT': 0, 'PUB_SCH': 938, 'SEP_SCH': 157, 'PUBSEP_SCH': 90, 'OTHER_SCH': 38, 'UNKNWN_SCH': 790, 'SING_FAMLY': 987, 'DUPLEX': 539, 'MULTI_PLEX': 10, 'APARTMENT': 132, 'TOWN_HOUSE': 111, 'MANUF_HOME': 0, 'CONV_STRUC': 221, 'COMUNL_HSE': 0, 'RES_COMM': 5, 'OTHER_RES': 1, 'NURSING_HM': 2, 'OTHER_INST': 0, 'HOTEL_CNT': 5, 'OTHER_MISC': 0, 'APT_NO_RES': 0, 'APT_OCCPD': 128, 'APT_OWNED': 20, 'APT_PERSON': 172, 'APT_VACANT': 4, 'APT_UC': 0, 'APT_NA': 0, 'CNV_NO_RES': 0, 'CNV_OCCPD': 185, 'CNV_OWNED': 8, 'CNV_PERSON': 290, 'CNV_VACANT': 19, 'CNV_UC': 0, 'CNV_NA': 13, 'DUP_NO_RES': 2, 'DUP_OCCPD': 497, 'DUP_OWNED': 338, 'DUP_PERSON': 1297, 'DUP_VACANT': 16, 'DUP_UC': 22, 'DUP_NA': 0, 'MFH_NO_RES': 0, 'MFH_OCCPD': 0, 'MFH_OWNED': 0, 'MFH_PERSON': 0, 'MFH_VACANT': 0, 'MFH_UC': 0, 'MFH_NA': 0, 'MUL_NO_RES': 0, 'MUL_OCCPD': 2, 'MUL_OWNED': 0, 'MUL_PERSON': 0, 'MUL_VACANT': 0, 'MUL_UC': 8, 'MUL_NA': 0, 'OTH_NO_RES': 0, 'OTH_OCCPD': 8, 'OTH_OWNED': 0, 'OTH_PERSON': 331, 'OTH_VACANT': 5, 'OTH_UC': 0, 'OTH_NA': 0, 'TWN_NO_RES': 0, 'TWN_OCCPD': 110, 'TWN_OWNED': 42, 'TWN_PERSON': 299, 'TWN_VACANT': 1, 'TWN_UC': 0, 'TWN_NA': 0, 'SF_NO_RES': 5, 'SF_OCCPD': 915, 'SF_OWNED': 619, 'SF_PERSON': 2116, 'SF_VACANT': 42, 'SF_UC': 20, 'SF_NA': 0, 'OTH_STRTY': 13, 'DWELSZ_1': 533, 'DWELSZ_2': 714, 'DWELSZ_3': 283, 'DWELSZ_4_5': 288, 'DWELSZ_6': 21, 'MALE_CNT': 2216, 'FEMALE_CNT': 2291, 'MALE_0_4': 150, 'MALE_5_14': 200, 'MALE_15_19': 92, 'MALE_20_24': 154, 'MALE_25_34': 497, 'MALE_35_44': 388, 'MALE_45_54': 263, 'MALE_55_64': 245, 'MALE_65_74': 141, 'MALE_75': 86, 'FEM_0_4': 137, 'FEM_5_14': 186, 'FEM_15_19': 77, 'FEM_20_24': 163, 'FEM_25_34': 506, 'FEM_35_44': 398, 'FEM_45_54': 267, 'FEM_55_64': 278, 'FEM_65_74': 144, 'FEM_75': 135, 'MF_0_4': 287, 'MF_5_14': 386, 'MF_15_19': 169, 'MF_20_24': 317, 'MF_25_34': 1003, 'MF_35_44': 786, 'MF_45_54': 530, 'MF_55_64': 523, 'MF_65_74': 285, 'MF_75': 221, 'OTHER_CNT': 0, 'OTHER_0_4': 0, 'OTHER_5_14': 0, 'OTHER_15_19': 0, 'OTHER_20_24': 0, 'OTHER_25_34': 0, 'OTHER_35_44': 0, 'OTHER_45_54': 0, 'OTHER_55_64': 0, 'OTHER_65_74': 0, 'OTHER_75': 0}
{'CLASS': 'Residential', 'CLASS_CODE': 1, 'COMM_CODE': 'TEM', 'NAME': 'TEMPLE', 'SECTOR': 'NORTHEAST', 'COMM_STRUCTURE': '1960s/1970s', 'CNSS_YR': 2019, 'RES_CNT': 10977, 'DWELL_CNT': 3733, 'PRSCH_CHLD': 908, 'ELECT_CNT': 0, 'EMPLYD_CNT': 0, 'OWNSHP_CNT': 2460, 'DOG_CNT': 0, 'CAT_CNT': 0, 'PUB_SCH': 1932, 'SEP_SCH': 610, 'PUBSEP_SCH': 229, 'OTHER_SCH': 234, 'UNKNWN_SCH': 727, 'SING_FAMLY': 2304, 'DUPLEX': 609, 'MULTI_PLEX': 1, 'APARTMENT': 117, 'TOWN_HOUSE': 424, 'MANUF_HOME': 0, 'CONV_STRUC': 277, 'COMUNL_HSE': 0, 'RES_COMM': 0, 'OTHER_RES': 1, 'NURSING_HM': 0, 'OTHER_INST': 0, 'HOTEL_CNT': 0, 'OTHER_MISC': 0, 'APT_NO_RES': 0, 'APT_OCCPD': 104, 'APT_OWNED': 19, 'APT_PERSON': 254, 'APT_VACANT': 13, 'APT_UC': 0, 'APT_NA': 0, 'CNV_NO_RES': 0, 'CNV_OCCPD': 199, 'CNV_OWNED': 10, 'CNV_PERSON': 402, 'CNV_VACANT': 48, 'CNV_UC': 0, 'CNV_NA': 24, 'DUP_NO_RES': 0, 'DUP_OCCPD': 570, 'DUP_OWNED': 360, 'DUP_PERSON': 1725, 'DUP_VACANT': 28, 'DUP_UC': 0, 'DUP_NA': 0, 'MFH_NO_RES': 0, 'MFH_OCCPD': 0, 'MFH_OWNED': 0, 'MFH_PERSON': 0, 'MFH_VACANT': 0, 'MFH_UC': 0, 'MFH_NA': 0, 'MUL_NO_RES': 0, 'MUL_OCCPD': 1, 'MUL_OWNED': 0, 'MUL_PERSON': 0, 'MUL_VACANT': 0, 'MUL_UC': 0, 'MUL_NA': 0, 'OTH_NO_RES': 1, 'OTH_OCCPD': 0, 'OTH_OWNED': 0, 'OTH_PERSON': 0, 'OTH_VACANT': 0, 'OTH_UC': 0, 'OTH_NA': 0, 'TWN_NO_RES': 1, 'TWN_OCCPD': 392, 'TWN_OWNED': 244, 'TWN_PERSON': 1143, 'TWN_VACANT': 27, 'TWN_UC': 0, 'TWN_NA': 0, 'SF_NO_RES': 10, 'SF_OCCPD': 2237, 'SF_OWNED': 1827, 'SF_PERSON': 7452, 'SF_VACANT': 42, 'SF_UC': 3, 'SF_NA': 0, 'OTH_STRTY': 1, 'DWELSZ_1': 449, 'DWELSZ_2': 1078, 'DWELSZ_3': 708, 'DWELSZ_4_5': 961, 'DWELSZ_6': 305, 'MALE_CNT': 5597, 'FEMALE_CNT': 5357, 'MALE_0_4': 353, 'MALE_5_14': 813, 'MALE_15_19': 354, 'MALE_20_24': 369, 'MALE_25_34': 817, 'MALE_35_44': 870, 'MALE_45_54': 683, 'MALE_55_64': 712, 'MALE_65_74': 473, 'MALE_75': 153, 'FEM_0_4': 320, 'FEM_5_14': 767, 'FEM_15_19': 332, 'FEM_20_24': 333, 'FEM_25_34': 799, 'FEM_35_44': 857, 'FEM_45_54': 620, 'FEM_55_64': 702, 'FEM_65_74': 468, 'FEM_75': 159, 'MF_0_4': 673, 'MF_5_14': 1580, 'MF_15_19': 686, 'MF_20_24': 702, 'MF_25_34': 1616, 'MF_35_44': 1727, 'MF_45_54': 1303, 'MF_55_64': 1414, 'MF_65_74': 941, 'MF_75': 312, 'OTHER_CNT': 0, 'OTHER_0_4': 0, 'OTHER_5_14': 0, 'OTHER_15_19': 0, 'OTHER_20_24': 0, 'OTHER_25_34': 0, 'OTHER_35_44': 0, 'OTHER_45_54': 0, 'OTHER_55_64': 0, 'OTHER_65_74': 0, 'OTHER_75': 0}

True

In [22]:
# Seeing head of  crime stats data
read_cursor = myconnection.cursor(buffered=True, dictionary=True)

query_string = ("SELECT * FROM crimestats;")

read_cursor.execute(query_string)

# This is so we will only see first few values and not the whole dataset
count = 0
for library_value in read_cursor:
    print(library_value)
    count += 1
    #break if we have first 5 rows
    if count == 5:
        break

read_cursor.close()

{'Sector': 'WEST', 'CommunityName': '01C', 'Category': 'Theft FROM Vehicle', 'CrimeCount': 1, 'Date': '2019/08', 'Year': '2019', 'Month': 'AUG', 'ID': '2019-AUG-01C-Theft FROM Vehicle', 'CommunityCenterPoint': b'POINT (-114.2380197 51.08500322)', 'CalgaryCommunities': 291, 'WardBoundaries20132017': 9, 'WardBoundaries': 13, 'CityQuadrants': 1}
{'Sector': 'SOUTH', 'CommunityName': 'PARKLAND', 'Category': 'Theft OF Vehicle', 'CrimeCount': 1, 'Date': '2019/01', 'Year': '2019', 'Month': 'JAN', 'ID': '2019-JAN-PARKLAND-Theft OF Vehicle', 'CommunityCenterPoint': b'POINT (-114.0285394 50.9211972)', 'CalgaryCommunities': 117, 'WardBoundaries20132017': 13, 'WardBoundaries': 6, 'CityQuadrants': 3}
{'Sector': 'SOUTH', 'CommunityName': 'SOMERSET', 'Category': 'Street Robbery', 'CrimeCount': 1, 'Date': '2019/02', 'Year': '2019', 'Month': 'FEB', 'ID': '2019-FEB-SOMERSET-Street Robbery', 'CommunityCenterPoint': b'POINT (-114.0813075 50.89869686)', 'CalgaryCommunities': 55, 'WardBoundaries20132017': 6, 'WardBoundaries': 5, 'CityQuadrants': 1}
{'Sector': 'WEST', 'CommunityName': 'LAKEVIEW', 'Category': 'Theft OF Vehicle', 'CrimeCount': 1, 'Date': '2019/11', 'Year': '2019', 'Month': 'NOV', 'ID': '2019-NOV-LAKEVIEW-Theft OF Vehicle', 'CommunityCenterPoint': b'POINT (-114.1296334 50.99977294)', 'CalgaryCommunities': 129, 'WardBoundaries20132017': 5, 'WardBoundaries': 8, 'CityQuadrants': 1}
{'Sector': 'NORTH', 'CommunityName': 'STONEY 1', 'Category': 'Assault (Non-domestic)', 'CrimeCount': 1, 'Date': '2019/09', 'Year': '2019', 'Month': 'SEP', 'ID': '2019-SEP-STONEY 1-Assault (Non-domestic)', 'CommunityCenterPoint': b'POINT (-114.0246985 51.16118788)', 'CalgaryCommunities': 163, 'WardBoundaries20132017': 12, 'WardBoundaries': 11, 'CityQuadrants': 4}

True

## Guiding Question #1: What is the Relationship Between Crime and Property Assessments? 

- Is there a connection between the historical property assessments and the types of crimes committed in different community districts? If so, what is it?
- Do areas with higher crime rates tend to have lower assessed property values? 
- Do areas with certain crime types tend to have different assessed property values?

In [13]:
pricecrimetable = pd.read_sql_query('SELECT PropertyResults.COMM_NAME, average_housing_price, total_crime_count FROM (SELECT COMM_NAME, AVG(ASSESSED_VALUE) AS average_housing_price FROM property_data WHERE ASSESSED_VALUE BETWEEN 100000 AND 15000000 GROUP BY COMM_NAME HAVING count(COMM_CODE) > 10) AS PropertyResults JOIN ( SELECT CommunityName, SUM(CrimeCount) AS total_crime_count FROM crimestats GROUP BY CommunityName ) AS CrimeResults ON PropertyResults.COMM_NAME = CrimeResults.CommunityName;;', engine)
pricecrimetable.head()

                      COMM_NAME  average_housing_price  total_crime_count
0                     ABBEYDALE            297105.4422              138.0
1                        ACADIA            349401.9746              418.0
2  ALBERT PARK/RADISSON HEIGHTS            356770.9815              366.0
3                      ALTADORE            846348.0154              271.0
4                APPLEWOOD PARK            338574.4514              164.0

In [12]:
#query to join average property assessment values and totals for differnt types of crimes committed per each community
query_avg_prop_crimetype_total = pd.read_sql_query("SELECT PropertyResults.COMM_NAME, average_housing_price, AssaultCrimeCount, BNECommercialCrimeCount , BNEDwellingCrimeCount, BNEOtherCrimeCount, CommercialRobberyCrimeCount, StreetRobberyCrimeCount, TheftFromVehicleCrimeCount, TheftOfVehicleCrimeCount, ViolenceOtherCrimeCount FROM (SELECT COMM_NAME, AVG(ASSESSED_VALUE) AS average_housing_price FROM property_data WHERE ASSESSED_VALUE BETWEEN 100000 AND 15000000 GROUP BY COMM_NAME HAVING count(COMM_CODE) > 10) AS PropertyResults JOIN (SELECT crimetable.CommunityName, IFNULL((SELECT sum(CrimeCount) from crimestats WHERE Category = 'Assault (Non-domestic)' AND CommunityName = crimetable.CommunityName),0) AS AssaultCrimeCount,IFNULL((SELECT sum(CrimeCount) from crimestats WHERE Category = 'Break & Enter - Commercial' AND CommunityName = crimetable.CommunityName),0) AS BNECommercialCrimeCount,IFNULL((SELECT sum(CrimeCount) from crimestats WHERE Category = 'Break & Enter - Dwelling' AND CommunityName = crimetable.CommunityName),0) AS BNEDwellingCrimeCount,IFNULL((SELECT sum(CrimeCount) from crimestats WHERE Category = 'Break & Enter - Other Premises' AND CommunityName = crimetable.CommunityName),0) AS BNEOtherCrimeCount,IFNULL((SELECT sum(CrimeCount) from crimestats WHERE Category = 'Commercial Robbery' AND CommunityName = crimetable.CommunityName),0) AS CommercialRobberyCrimeCount,IFNULL((SELECT sum(CrimeCount) from crimestats WHERE Category = 'Street Robbery' AND CommunityName = crimetable.CommunityName),0) AS StreetRobberyCrimeCount,IFNULL((SELECT sum(CrimeCount) from crimestats WHERE Category = 'Theft FROM Vehicle' AND CommunityName = crimetable.CommunityName),0) AS TheftFromVehicleCrimeCount,IFNULL((SELECT sum(CrimeCount) from crimestats WHERE Category = 'Theft OF Vehicle' AND CommunityName = crimetable.CommunityName),0) AS TheftOfVehicleCrimeCount,IFNULL((SELECT sum(CrimeCount) from crimestats WHERE Category = 'Assault (Non-domestic)' AND CommunityName = crimetable.CommunityName),0) AS ViolenceOtherCrimeCountFROM (SELECT DISTINCT(CommunityName) FROM crimestats) AS crimetable) AS CrimeResults ON PropertyResults.COMM_NAME = CrimeResults.CommunityName;", engine)
display(query_avg_prop_crimetype_total)

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near '(SELECT DISTINCT(CommunityName) FROM crimestats) AS crimetable) AS CrimeResul...' at line 1
[SQL: SELECT PropertyResults.COMM_NAME, average_housing_price, AssaultCrimeCount, BNECommercialCrimeCount , BNEDwellingCrimeCount, BNEOtherCrimeCount, CommercialRobberyCrimeCount, StreetRobberyCrimeCount, TheftFromVehicleCrimeCount, TheftOfVehicleCrimeCount, ViolenceOtherCrimeCount FROM (SELECT COMM_NAME, AVG(ASSESSED_VALUE) AS average_housing_price FROM property_data WHERE ASSESSED_VALUE BETWEEN 100000 AND 15000000 GROUP BY COMM_NAME HAVING count(COMM_CODE) > 10) AS PropertyResults JOIN (SELECT crimetable.CommunityName, IFNULL((SELECT sum(CrimeCount) from crimestats WHERE Category = 'Assault (Non-domestic)' AND CommunityName = crimetable.CommunityName),0) AS AssaultCrimeCount,IFNULL((SELECT sum(CrimeCount) from crimestats WHERE Category = 'Break & Enter - Commercial' AND CommunityName = crimetable.CommunityName),0) AS BNECommercialCrimeCount,IFNULL((SELECT sum(CrimeCount) from crimestats WHERE Category = 'Break & Enter - Dwelling' AND CommunityName = crimetable.CommunityName),0) AS BNEDwellingCrimeCount,IFNULL((SELECT sum(CrimeCount) from crimestats WHERE Category = 'Break & Enter - Other Premises' AND CommunityName = crimetable.CommunityName),0) AS BNEOtherCrimeCount,IFNULL((SELECT sum(CrimeCount) from crimestats WHERE Category = 'Commercial Robbery' AND CommunityName = crimetable.CommunityName),0) AS CommercialRobberyCrimeCount,IFNULL((SELECT sum(CrimeCount) from crimestats WHERE Category = 'Street Robbery' AND CommunityName = crimetable.CommunityName),0) AS StreetRobberyCrimeCount,IFNULL((SELECT sum(CrimeCount) from crimestats WHERE Category = 'Theft FROM Vehicle' AND CommunityName = crimetable.CommunityName),0) AS TheftFromVehicleCrimeCount,IFNULL((SELECT sum(CrimeCount) from crimestats WHERE Category = 'Theft OF Vehicle' AND CommunityName = crimetable.CommunityName),0) AS TheftOfVehicleCrimeCount,IFNULL((SELECT sum(CrimeCount) from crimestats WHERE Category = 'Assault (Non-domestic)' AND CommunityName = crimetable.CommunityName),0) AS ViolenceOtherCrimeCountFROM (SELECT DISTINCT(CommunityName) FROM crimestats) AS crimetable) AS CrimeResults ON PropertyResults.COMM_NAME = CrimeResults.CommunityName;]
(Background on this error at: https://sqlalche.me/e/20/f405)

## Guiding Question #2: What is the Relationship Between Community Demographics and Property Assessments? 
- What is the relationship between gender distribution and property assessments?
- Is there an effect between population density and property assessments? 
- Are property assessments in communities related to age demographics?

In [ ]:
#####queries to join average property assessment values and age demographic proportions per community
#For people under 20
query_avg_prop_undertwenty = pd.read_sql_query("SELECT PropertyResults.COMM_NAME, average_housing_price, `Children Proportion` FROM (SELECT COMM_NAME, AVG(ASSESSED_VALUE) AS average_housing_price FROM property_data WHERE ASSESSED_VALUE BETWEEN 100000 AND 15000000 GROUP BY COMM_NAME HAVING count(COMM_CODE) > 10) AS PropertyResults JOIN (SELECT DISTINCT `NAME` AS Comm_Name, (MF_0_4 + MF_5_14 + MF_15_19 + OTHER_0_4 + OTHER_5_14 + OTHER_15_19)/RES_CNT AS 'Children proportion' FROM calgary_census_2019 ORDER BY (MF_0_4 + MF_5_14 + MF_15_19 + OTHER_0_4 + OTHER_5_14 + OTHER_15_19)/RES_CNT) AS DemographicResults ON PropertyResults.COMM_NAME = DemographicResults.Comm_Name;", engine)
display(query_avg_prop_undertwenty)

#For Young adults (20-44)
query_avg_prop_youngadult = pd.read_sql_query("SELECT PropertyResults.COMM_NAME, average_housing_price, `Young Adults Proportion` FROM (SELECT COMM_NAME, AVG(ASSESSED_VALUE) AS average_housing_price FROM property_data WHERE ASSESSED_VALUE BETWEEN 100000 AND 15000000 GROUP BY COMM_NAME HAVING count(COMM_CODE) > 10) AS PropertyResults JOIN (SELECT DISTINCT `NAME` AS Comm_Name, (MF_20_24 + MF_25_34 + MF_35_44 + OTHER_20_24 + OTHER_25_34 + OTHER_35_44)/RES_CNT AS 'Young Adults Proportion' FROM calgary_census_2019 ORDER BY (MF_20_24 + MF_25_34 + MF_35_44 + OTHER_20_24 + OTHER_25_34 + OTHER_35_44)/RES_CNT) AS DemographicResults ON PropertyResults.COMM_NAME = DemographicResults.Comm_Name;",engine)
display(query_avg_prop_youngadult)

#For Middle aged adults (45-74)
query_avg_prop_middleaged = pd.read_sql_query("SELECT PropertyResults.COMM_NAME, average_housing_price, `Middle Age Adults Proportion` FROM (SELECT COMM_NAME, AVG(ASSESSED_VALUE) AS average_housing_price FROM property_data WHERE ASSESSED_VALUE BETWEEN 100000 AND 15000000 GROUP BY COMM_NAME HAVING count(COMM_CODE) > 10) AS PropertyResults JOIN (SELECT DISTINCT `NAME` AS Comm_Name, (MF_45_54 + MF_55_64 + MF_65_74 + OTHER_45_54 + OTHER_55_64 + OTHER_65_74)/RES_CNT AS 'Middle Age Adults Proportion' FROM calgary_census_2019 ORDER BY (MF_45_54 + MF_55_64 + MF_65_74 + OTHER_45_54 + OTHER_55_64 + OTHER_65_74)/RES_CNT) AS DemographicResults ON PropertyResults.COMM_NAME = DemographicResults.Comm_Name;",engine)
display(query_avg_prop_middleaged)

#For Elderly (75 and over)
query_avg_prop_elderly = pd.read_sql_query("SELECT PropertyResults.COMM_NAME, average_housing_price, `Elderly Proportion` FROM (SELECT COMM_NAME, AVG(ASSESSED_VALUE) AS average_housing_price FROM property_data WHERE ASSESSED_VALUE BETWEEN 100000 AND 15000000 GROUP BY COMM_NAME HAVING count(COMM_CODE) > 10) AS PropertyResults JOIN (SELECT DISTINCT `NAME` AS Comm_Name, (MF_75 + OTHER_75)/RES_CNT AS 'Elderly Proportion' FROM calgary_census_2019 ORDER BY (MF_75 + OTHER_75)/RES_CNT) AS DemographicResults ON PropertyResults.COMM_NAME = DemographicResults.Comm_Name;",engine)
display(query_avg_prop_elderly)


####query to join average property assessment values and gender proportions per community
query_avg_prop_gender = pd.read_sql_query("SELECT PropertyResults.COMM_NAME, average_housing_price, `Male Proportion`, `Female Proportion`, `Other Proportion` FROM (SELECT COMM_NAME, AVG(ASSESSED_VALUE) AS average_housing_price FROM property_data WHERE ASSESSED_VALUE BETWEEN 100000 AND 15000000 GROUP BY COMM_NAME HAVING count(COMM_CODE) > 10) AS PropertyResults JOIN (SELECT DISTINCT `NAME` AS Comm_Name, MALE_CNT/RES_CNT AS 'Male Proportion', FEMALE_CNT/RES_CNT AS 'Female Proportion', OTHER_CNT/RES_CNT AS 'Other Proportion' FROM calgary_census_2019 WHERE RES_CNT > 0 AND MALE_CNT > 0 ORDER BY FEMALE_CNT/RES_CNT) AS GenderResults ON PropertyResults.COMM_NAME = GenderResults.Comm_Name;",engine)
display(query_avg_prop_gender)


####query to join average property assessment values and total population per community
query_avg_community_pop = pd.read_sql_query("SELECT PropertyResults.COMM_NAME, average_housing_price, `Population Total` FROM (SELECT COMM_NAME, AVG(ASSESSED_VALUE) AS average_housing_price FROM property_data WHERE ASSESSED_VALUE BETWEEN 100000 AND 15000000 GROUP BY COMM_NAME HAVING count(COMM_CODE) > 10) AS PropertyResults JOIN (SELECT DISTINCT(`NAME`) AS Comm_Name, (MALE_CNT + FEMALE_CNT + OTHER_CNT) AS `Population Total` FROM calgary_census_2019) AS PopulationResults ON PropertyResults.COMM_NAME = PopulationResults.Comm_Name;", engine)
display(query_avg_community_pop)

## Guiding Question #3: What is the Relationship Between Demographics and Crime Rates? 
- Is crime in communities more prevalent when certain age groups are more present?
- Is there a relationship between property types and crime types/rates? 
- Is there a relationship between gender demographics and crime types/rates?

## Here are test queries to make sure the data matched the individual milestones

In [26]:
read_cursor = myconnection.cursor(buffered=True, dictionary=True)

query_string = ("SELECT DISTINCT NAME, (MF_45_54 + MF_55_64 + MF_65_74 + OTHER_45_54 + OTHER_55_64 + OTHER_65_74)/RES_CNT AS 'Middle age adults proportion' FROM calgary_census_2019 ORDER BY (MF_45_54 + MF_55_64 + MF_65_74 + OTHER_45_54 + OTHER_55_64 + OTHER_65_74)/RES_CNT DESC LIMIT 10;")

read_cursor.execute(query_string)

for (comm_name) in read_cursor:
    print(comm_name)
    
read_cursor.close()

{'NAME': 'EAU CLAIRE', 'Middle age adults proportion': Decimal('0.6591')}
{'NAME': 'SHEPARD INDUSTRIAL', 'Middle age adults proportion': Decimal('0.5686')}
{'NAME': 'DIAMOND COVE', 'Middle age adults proportion': Decimal('0.5594')}
{'NAME': 'GREENWOOD/GREENBRIAR', 'Middle age adults proportion': Decimal('0.5558')}
{'NAME': 'BEL-AIRE', 'Middle age adults proportion': Decimal('0.5308')}
{'NAME': 'BRITANNIA', 'Middle age adults proportion': Decimal('0.5261')}
{'NAME': 'RIDEAU PARK', 'Middle age adults proportion': Decimal('0.5253')}
{'NAME': 'EAGLE RIDGE', 'Middle age adults proportion': Decimal('0.5199')}
{'NAME': 'HAMPTONS', 'Middle age adults proportion': Decimal('0.5054')}
{'NAME': 'RED CARPET', 'Middle age adults proportion': Decimal('0.4944')}

True

In [27]:
read_cursor = myconnection.cursor(buffered=True, dictionary=True)

query_string = ("SELECT avg(ASSESSED_VALUE), COMM_CODE, COMM_NAME FROM property_data WHERE ASSESSED_VALUE > 100000 GROUP BY COMM_NAME HAVING count(COMM_CODE) > 10;")

read_cursor.execute(query_string)

for (prop_value) in read_cursor:
    print(prop_value)
    
read_cursor.close()

{'avg(ASSESSED_VALUE)': Decimal('297105.4422'), 'COMM_CODE': 'ABB', 'COMM_NAME': 'ABBEYDALE'}
{'avg(ASSESSED_VALUE)': Decimal('385040.1691'), 'COMM_CODE': 'ACA', 'COMM_NAME': 'ACADIA'}
{'avg(ASSESSED_VALUE)': Decimal('483790.6648'), 'COMM_CODE': 'ALB', 'COMM_NAME': 'ALBERT PARK/RADISSON HEIGHTS'}
{'avg(ASSESSED_VALUE)': Decimal('846348.0154'), 'COMM_CODE': 'ALT', 'COMM_NAME': 'ALTADORE'}
{'avg(ASSESSED_VALUE)': Decimal('380939.7496'), 'COMM_CODE': 'APP', 'COMM_NAME': 'APPLEWOOD PARK'}
{'avg(ASSESSED_VALUE)': Decimal('494914.7431'), 'COMM_CODE': 'ARB', 'COMM_NAME': 'ARBOUR LAKE'}
{'avg(ASSESSED_VALUE)': Decimal('921439.0651'), 'COMM_CODE': 'ASP', 'COMM_NAME': 'ASPEN WOODS'}
{'avg(ASSESSED_VALUE)': Decimal('503028.0452'), 'COMM_CODE': 'AUB', 'COMM_NAME': 'AUBURN BAY'}
{'avg(ASSESSED_VALUE)': Decimal('680679.7980'), 'COMM_CODE': 'BNF', 'COMM_NAME': 'BANFF TRAIL'}
{'avg(ASSESSED_VALUE)': Decimal('408836.6745'), 'COMM_CODE': 'BNK', 'COMM_NAME': 'BANKVIEW'}
{'avg(ASSESSED_VALUE)': Decimal('1154312.5000'), 'COMM_CODE': 'BYV', 'COMM_NAME': 'BAYVIEW'}
{'avg(ASSESSED_VALUE)': Decimal('352208.8043'), 'COMM_CODE': 'BED', 'COMM_NAME': 'BEDDINGTON HEIGHTS'}
{'avg(ASSESSED_VALUE)': Decimal('2046222.9730'), 'COMM_CODE': 'BEL', 'COMM_NAME': 'BEL-AIRE'}
{'avg(ASSESSED_VALUE)': Decimal('695169.2308'), 'COMM_CODE': 'BLM', 'COMM_NAME': 'BELMONT'}
{'avg(ASSESSED_VALUE)': Decimal('467281.9470'), 'COMM_CODE': 'BLN', 'COMM_NAME': 'BELTLINE'}
{'avg(ASSESSED_VALUE)': Decimal('428200.8197'), 'COMM_CODE': 'BDO', 'COMM_NAME': 'BONAVISTA DOWNS'}
{'avg(ASSESSED_VALUE)': Decimal('466765.0919'), 'COMM_CODE': 'BOW', 'COMM_NAME': 'BOWNESS'}
{'avg(ASSESSED_VALUE)': Decimal('348816.0622'), 'COMM_CODE': 'BRA', 'COMM_NAME': 'BRAESIDE'}
{'avg(ASSESSED_VALUE)': Decimal('490552.2708'), 'COMM_CODE': 'BRE', 'COMM_NAME': 'BRENTWOOD'}
{'avg(ASSESSED_VALUE)': Decimal('537938.0711'), 'COMM_CODE': 'BRD', 'COMM_NAME': 'BRIDGELAND/RIVERSIDE'}
{'avg(ASSESSED_VALUE)': Decimal('366908.7476'), 'COMM_CODE': 'BRI', 'COMM_NAME': 'BRIDLEWOOD'}
{'avg(ASSESSED_VALUE)': Decimal('1808177.6860'), 'COMM_CODE': 'BRT', 'COMM_NAME': 'BRITANNIA'}
{'avg(ASSESSED_VALUE)': Decimal('610020.6897'), 'COMM_CODE': 'CAM', 'COMM_NAME': 'CAMBRIAN HEIGHTS'}
{'avg(ASSESSED_VALUE)': Decimal('433511.6183'), 'COMM_CODE': 'CAN', 'COMM_NAME': 'CANYON MEADOWS'}
{'avg(ASSESSED_VALUE)': Decimal('606813.4328'), 'COMM_CODE': 'CAP', 'COMM_NAME': 'CAPITOL HILL'}
{'avg(ASSESSED_VALUE)': Decimal('609397.5694'), 'COMM_CODE': 'CAR', 'COMM_NAME': 'CARRINGTON'}
{'avg(ASSESSED_VALUE)': Decimal('325029.5031'), 'COMM_CODE': 'CAS', 'COMM_NAME': 'CASTLERIDGE'}
{'avg(ASSESSED_VALUE)': Decimal('388822.4401'), 'COMM_CODE': 'CED', 'COMM_NAME': 'CEDARBRAE'}
{'avg(ASSESSED_VALUE)': Decimal('488356.4200'), 'COMM_CODE': 'CHA', 'COMM_NAME': 'CHAPARRAL'}
{'avg(ASSESSED_VALUE)': Decimal('643446.1538'), 'COMM_CODE': 'CHW', 'COMM_NAME': 'CHARLESWOOD'}
{'avg(ASSESSED_VALUE)': Decimal('536636.4583'), 'COMM_CODE': 'CHN', 'COMM_NAME': 'CHINATOWN'}
{'avg(ASSESSED_VALUE)': Decimal('705465.3465'), 'COMM_CODE': 'CHK', 'COMM_NAME': 'CHINOOK PARK'}
{'avg(ASSESSED_VALUE)': Decimal('661883.9286'), 'COMM_CODE': 'CHR', 'COMM_NAME': 'CHRISTIE PARK'}
{'avg(ASSESSED_VALUE)': Decimal('421652.6639'), 'COMM_CODE': 'CIT', 'COMM_NAME': 'CITADEL'}
{'avg(ASSESSED_VALUE)': Decimal('466416.0920'), 'COMM_CODE': 'CSC', 'COMM_NAME': 'CITYSCAPE'}
{'avg(ASSESSED_VALUE)': Decimal('500506.5574'), 'COMM_CODE': 'CLI', 'COMM_NAME': 'CLIFF BUNGALOW'}
{'avg(ASSESSED_VALUE)': Decimal('405701.2278'), 'COMM_CODE': 'COA', 'COMM_NAME': 'COACH HILL'}
{'avg(ASSESSED_VALUE)': Decimal('664278.9634'), 'COMM_CODE': 'COL', 'COMM_NAME': 'COLLINGWOOD'}
{'avg(ASSESSED_VALUE)': Decimal('367600.1037'), 'COMM_CODE': 'CPF', 'COMM_NAME': 'COPPERFIELD'}
{'avg(ASSESSED_VALUE)': Decimal('473138.9381'), 'COMM_CODE': 'COR', 'COMM_NAME': 'CORAL SPRINGS'}
{'avg(ASSESSED_VALUE)': Decimal('451181.1321'), 'COMM_CODE': 'CNS', 'COMM_NAME': 'CORNERSTONE'}
{'avg(ASSESSED_VALUE)': Decimal('607551.0204'), 'COMM_CODE': 'CGR', 'COMM_NAME': 'COUGAR RIDGE'}
{'avg(ASSESSED_VALUE)': Decimal('362675.3356'), 'COMM_CODE': 'COU', 'COMM_NAME': 'COUNTRY HILLS'}
{'avg(ASSESSED_VALUE)': Decimal('284063.7255'), 'COMM_CODE': 'CHV', 'COMM_NAME': 'COUNTRY HILLS VILLAGE'}
{'avg(ASSESSED_VALUE)': Decimal('388978.2094'), 'COMM_CODE': 'COV', 'COMM_NAME': 'COVENTRY HILLS'}
{'avg(ASSESSED_VALUE)': Decimal('495915.4676'), 'COMM_CODE': 'CRA', 'COMM_NAME': 'CRANSTON'}
{'avg(ASSESSED_VALUE)': Decimal('513371.7949'), 'COMM_CODE': 'CRE', 'COMM_NAME': 'CRESCENT HEIGHTS'}
{'avg(ASSESSED_VALUE)': Decimal('619112.6761'), 'COMM_CODE': 'CRM', 'COMM_NAME': 'CRESTMONT'}
{'avg(ASSESSED_VALUE)': Decimal('1082416.8975'), 'COMM_CODE': 'CUR', 'COMM_NAME': 'CURRIE BARRACKS'}
{'avg(ASSESSED_VALUE)': Decimal('416811.6642'), 'COMM_CODE': 'DAL', 'COMM_NAME': 'DALHOUSIE'}
{'avg(ASSESSED_VALUE)': Decimal('363823.7925'), 'COMM_CODE': 'DRG', 'COMM_NAME': 'DEER RIDGE'}
{'avg(ASSESSED_VALUE)': Decimal('385960.7362'), 'COMM_CODE': 'DRN', 'COMM_NAME': 'DEER RUN'}
{'avg(ASSESSED_VALUE)': Decimal('596202.9703'), 'COMM_CODE': 'DIA', 'COMM_NAME': 'DIAMOND COVE'}
{'avg(ASSESSED_VALUE)': Decimal('640472.3837'), 'COMM_CODE': 'DIS', 'COMM_NAME': 'DISCOVERY RIDGE'}
{'avg(ASSESSED_VALUE)': Decimal('531087.3397'), 'COMM_CODE': 'DDG', 'COMM_NAME': 'DOUGLASDALE/GLEN'}
{'avg(ASSESSED_VALUE)': Decimal('318306.0487'), 'COMM_CODE': 'DOV', 'COMM_NAME': 'DOVER'}
{'avg(ASSESSED_VALUE)': Decimal('716147.6684'), 'COMM_CODE': 'DNC', 'COMM_NAME': 'DOWNTOWN COMMERCIAL CORE'}
{'avg(ASSESSED_VALUE)': Decimal('584072.8228'), 'COMM_CODE': 'DNE', 'COMM_NAME': 'DOWNTOWN EAST VILLAGE'}
{'avg(ASSESSED_VALUE)': Decimal('350953.7223'), 'COMM_CODE': 'DNW', 'COMM_NAME': 'DOWNTOWN WEST END'}
{'avg(ASSESSED_VALUE)': Decimal('1778725.0000'), 'COMM_CODE': 'EAG', 'COMM_NAME': 'EAGLE RIDGE'}
{'avg(ASSESSED_VALUE)': Decimal('712232.8482'), 'COMM_CODE': 'EAU', 'COMM_NAME': 'EAU CLAIRE'}
{'avg(ASSESSED_VALUE)': Decimal('567857.8407'), 'COMM_CODE': 'EDG', 'COMM_NAME': 'EDGEMONT'}
{'avg(ASSESSED_VALUE)': Decimal('1549903.9256'), 'COMM_CODE': 'EPK', 'COMM_NAME': 'ELBOW PARK'}
{'avg(ASSESSED_VALUE)': Decimal('834583.6299'), 'COMM_CODE': 'EYA', 'COMM_NAME': 'ELBOYA'}
{'avg(ASSESSED_VALUE)': Decimal('304573.3996'), 'COMM_CODE': 'ERI', 'COMM_NAME': 'ERIN WOODS'}
{'avg(ASSESSED_VALUE)': Decimal('493140.5109'), 'COMM_CODE': 'ERL', 'COMM_NAME': 'ERLTON'}
{'avg(ASSESSED_VALUE)': Decimal('452462.9474'), 'COMM_CODE': 'EVN', 'COMM_NAME': 'EVANSTON'}
{'avg(ASSESSED_VALUE)': Decimal('473419.7880'), 'COMM_CODE': 'EVE', 'COMM_NAME': 'EVERGREEN'}
{'avg(ASSESSED_VALUE)': Decimal('468471.2526'), 'COMM_CODE': 'FAI', 'COMM_NAME': 'FAIRVIEW'}
{'avg(ASSESSED_VALUE)': Decimal('318276.5186'), 'COMM_CODE': 'FAL', 'COMM_NAME': 'FALCONRIDGE'}
{'avg(ASSESSED_VALUE)': Decimal('282537.4659'), 'COMM_CODE': 'FHT', 'COMM_NAME': 'FOREST HEIGHTS'}
{'avg(ASSESSED_VALUE)': Decimal('366582.9327'), 'COMM_CODE': 'FLN', 'COMM_NAME': 'FOREST LAWN'}
{'avg(ASSESSED_VALUE)': Decimal('733478.5992'), 'COMM_CODE': 'GAG', 'COMM_NAME': 'GARRISON GREEN'}
{'avg(ASSESSED_VALUE)': Decimal('549154.4012'), 'COMM_CODE': 'GAW', 'COMM_NAME': 'GARRISON WOODS'}
{'avg(ASSESSED_VALUE)': Decimal('403273.3773'), 'COMM_CODE': 'GLA', 'COMM_NAME': 'GLAMORGAN'}
{'avg(ASSESSED_VALUE)': Decimal('498061.2360'), 'COMM_CODE': 'GBK', 'COMM_NAME': 'GLENBROOK'}
{'avg(ASSESSED_VALUE)': Decimal('623445.0262'), 'COMM_CODE': 'GDL', 'COMM_NAME': 'GLENDALE'}
{'avg(ASSESSED_VALUE)': Decimal('282490.5363'), 'COMM_CODE': 'GRV', 'COMM_NAME': 'GREENVIEW'}
{'avg(ASSESSED_VALUE)': Decimal('3583583.3333'), 'COMM_CODE': 'GRE', 'COMM_NAME': 'GREENWOOD/GREENBRIAR'}
{'avg(ASSESSED_VALUE)': Decimal('686707.3434'), 'COMM_CODE': 'HAM', 'COMM_NAME': 'HAMPTONS'}
{'avg(ASSESSED_VALUE)': Decimal('405278.3810'), 'COMM_CODE': 'HAR', 'COMM_NAME': 'HARVEST HILLS'}
{'avg(ASSESSED_VALUE)': Decimal('506086.5460'), 'COMM_CODE': 'HAW', 'COMM_NAME': 'HAWKWOOD'}
{'avg(ASSESSED_VALUE)': Decimal('357640.5638'), 'COMM_CODE': 'HAY', 'COMM_NAME': 'HAYSBORO'}
{'avg(ASSESSED_VALUE)': Decimal('444843.7500'), 'COMM_CODE': 'HID', 'COMM_NAME': 'HIDDEN VALLEY'}
{'avg(ASSESSED_VALUE)': Decimal('488778.7829'), 'COMM_CODE': 'HPK', 'COMM_NAME': 'HIGHLAND PARK'}
{'avg(ASSESSED_VALUE)': Decimal('500179.6875'), 'COMM_CODE': 'HIW', 'COMM_NAME': 'HIGHWOOD'}
{'avg(ASSESSED_VALUE)': Decimal('668241.7375'), 'COMM_CODE': 'HIL', 'COMM_NAME': 'HILLHURST'}
{'avg(ASSESSED_VALUE)': Decimal('1044696.3415'), 'COMM_CODE': 'HOU', 'COMM_NAME': 'HOUNSFIELD HEIGHTS/BRIAR HILL'}
{'avg(ASSESSED_VALUE)': Decimal('415789.8429'), 'COMM_CODE': 'HUN', 'COMM_NAME': 'HUNTINGTON HILLS'}
{'avg(ASSESSED_VALUE)': Decimal('519665.0212'), 'COMM_CODE': 'ING', 'COMM_NAME': 'INGLEWOOD'}
{'avg(ASSESSED_VALUE)': Decimal('660565.0224'), 'COMM_CODE': 'KEL', 'COMM_NAME': 'KELVIN GROVE'}
{'avg(ASSESSED_VALUE)': Decimal('540262.6939'), 'COMM_CODE': 'KIL', 'COMM_NAME': 'KILLARNEY/GLENGARRY'}
{'avg(ASSESSED_VALUE)': Decimal('468300.3195'), 'COMM_CODE': 'KCA', 'COMM_NAME': 'KINCORA'}
{'avg(ASSESSED_VALUE)': Decimal('487974.2063'), 'COMM_CODE': 'KIN', 'COMM_NAME': 'KINGSLAND'}
{'avg(ASSESSED_VALUE)': Decimal('616574.5086'), 'COMM_CODE': 'LKB', 'COMM_NAME': 'LAKE BONAVISTA'}
{'avg(ASSESSED_VALUE)': Decimal('727095.6354'), 'COMM_CODE': 'LKV', 'COMM_NAME': 'LAKEVIEW'}
{'avg(ASSESSED_VALUE)': Decimal('380686.6507'), 'COMM_CODE': 'LEG', 'COMM_NAME': 'LEGACY'}
{'avg(ASSESSED_VALUE)': Decimal('262950.2618'), 'COMM_CODE': 'LPK', 'COMM_NAME': 'LINCOLN PARK'}
{'avg(ASSESSED_VALUE)': Decimal('424935.9823'), 'COMM_CODE': 'LIV', 'COMM_NAME': 'LIVINGSTON'}
{'avg(ASSESSED_VALUE)': Decimal('422248.5981'), 'COMM_CODE': 'LMR', 'COMM_NAME': 'LOWER MOUNT ROYAL'}
{'avg(ASSESSED_VALUE)': Decimal('425866.0991'), 'COMM_CODE': 'MAC', 'COMM_NAME': 'MACEWAN'}
{'avg(ASSESSED_VALUE)': Decimal('504982.3446'), 'COMM_CODE': 'MAH', 'COMM_NAME': 'MAHOGANY'}
{'avg(ASSESSED_VALUE)': Decimal('547923.6111'), 'COMM_CODE': 'MAN', 'COMM_NAME': 'MANCHESTER'}
{'avg(ASSESSED_VALUE)': Decimal('528430.5136'), 'COMM_CODE': 'MPL', 'COMM_NAME': 'MAPLE RIDGE'}
{'avg(ASSESSED_VALUE)': Decimal('311795.1965'), 'COMM_CODE': 'MRL', 'COMM_NAME': 'MARLBOROUGH'}
{'avg(ASSESSED_VALUE)': Decimal('301841.1876'), 'COMM_CODE': 'MPK', 'COMM_NAME': 'MARLBOROUGH PARK'}
{'avg(ASSESSED_VALUE)': Decimal('353093.3148'), 'COMM_CODE': 'MRT', 'COMM_NAME': 'MARTINDALE'}
{'avg(ASSESSED_VALUE)': Decimal('1215157.8947'), 'COMM_CODE': 'MAF', 'COMM_NAME': 'MAYFAIR'}
{'avg(ASSESSED_VALUE)': Decimal('430389.3499'), 'COMM_CODE': 'MAL', 'COMM_NAME': 'MAYLAND HEIGHTS'}
{'avg(ASSESSED_VALUE)': Decimal('519369.0878'), 'COMM_CODE': 'MCK', 'COMM_NAME': 'MCKENZIE LAKE'}
{'avg(ASSESSED_VALUE)': Decimal('371146.1916'), 'COMM_CODE': 'MCT', 'COMM_NAME': 'MCKENZIE TOWNE'}
{'avg(ASSESSED_VALUE)': Decimal('685828.4314'), 'COMM_CODE': 'MEA', 'COMM_NAME': 'MEADOWLARK PARK'}
{'avg(ASSESSED_VALUE)': Decimal('475683.6506'), 'COMM_CODE': 'MID', 'COMM_NAME': 'MIDNAPORE'}
{'avg(ASSESSED_VALUE)': Decimal('356367.5214'), 'COMM_CODE': 'MLR', 'COMM_NAME': 'MILLRISE'}
{'avg(ASSESSED_VALUE)': Decimal('648989.7094'), 'COMM_CODE': 'MIS', 'COMM_NAME': 'MISSION'}
{'avg(ASSESSED_VALUE)': Decimal('400021.6390'), 'COMM_CODE': 'MOR', 'COMM_NAME': 'MONTEREY PARK'}
{'avg(ASSESSED_VALUE)': Decimal('498812.1990'), 'COMM_CODE': 'MON', 'COMM_NAME': 'MONTGOMERY'}
{'avg(ASSESSED_VALUE)': Decimal('643327.9689'), 'COMM_CODE': 'MOP', 'COMM_NAME': 'MOUNT PLEASANT'}
{'avg(ASSESSED_VALUE)': Decimal('408946.1709'), 'COMM_CODE': 'NEB', 'COMM_NAME': 'NEW BRIGHTON'}
{'avg(ASSESSED_VALUE)': Decimal('467432.2724'), 'COMM_CODE': 'NOL', 'COMM_NAME': 'NOLAN HILL'}
{'avg(ASSESSED_VALUE)': Decimal('727173.8544'), 'COMM_CODE': 'NGM', 'COMM_NAME': 'NORTH GLENMORE PARK'}
{'avg(ASSESSED_VALUE)': Decimal('511516.0256'), 'COMM_CODE': 'NHV', 'COMM_NAME': 'NORTH HAVEN'}
{'avg(ASSESSED_VALUE)': Decimal('511112.9032'), 'COMM_CODE': 'NHU', 'COMM_NAME': 'NORTH HAVEN UPPER'}
{'avg(ASSESSED_VALUE)': Decimal('491152.6549'), 'COMM_CODE': 'OAK', 'COMM_NAME': 'OAKRIDGE'}
{'avg(ASSESSED_VALUE)': Decimal('394827.6014'), 'COMM_CODE': 'OGD', 'COMM_NAME': 'OGDEN'}
{'avg(ASSESSED_VALUE)': Decimal('503581.7972'), 'COMM_CODE': 'PAL', 'COMM_NAME': 'PALLISER'}
{'avg(ASSESSED_VALUE)': Decimal('456927.6236'), 'COMM_CODE': 'PAN', 'COMM_NAME': 'PANORAMA HILLS'}
{'avg(ASSESSED_VALUE)': Decimal('822666.2050'), 'COMM_CODE': 'PKD', 'COMM_NAME': 'PARKDALE'}
{'avg(ASSESSED_VALUE)': Decimal('771295.4545'), 'COMM_CODE': 'PKH', 'COMM_NAME': 'PARKHILL/STANLEY PARK'}
{'avg(ASSESSED_VALUE)': Decimal('572984.5277'), 'COMM_CODE': 'PKL', 'COMM_NAME': 'PARKLAND'}
{'avg(ASSESSED_VALUE)': Decimal('545256.3939'), 'COMM_CODE': 'PAT', 'COMM_NAME': 'PATTERSON'}
{'avg(ASSESSED_VALUE)': Decimal('270969.8276'), 'COMM_CODE': 'PEN', 'COMM_NAME': 'PENBROOKE MEADOWS'}
{'avg(ASSESSED_VALUE)': Decimal('349265.3654'), 'COMM_CODE': 'PIN', 'COMM_NAME': 'PINERIDGE'}
{'avg(ASSESSED_VALUE)': Decimal('361953.5513'), 'COMM_CODE': 'POI', 'COMM_NAME': 'POINT MCKAY'}
{'avg(ASSESSED_VALUE)': Decimal('1195596.9697'), 'COMM_CODE': 'PUM', 'COMM_NAME': 'PUMP HILL'}
{'avg(ASSESSED_VALUE)': Decimal('355553.8793'), 'COMM_CODE': 'QLD', 'COMM_NAME': 'QUEENSLAND'}
{'avg(ASSESSED_VALUE)': Decimal('626976.8519'), 'COMM_CODE': 'RAM', 'COMM_NAME': 'RAMSAY'}
{'avg(ASSESSED_VALUE)': Decimal('372422.0355'), 'COMM_CODE': 'RAN', 'COMM_NAME': 'RANCHLANDS'}
{'avg(ASSESSED_VALUE)': Decimal('340468.3544'), 'COMM_CODE': 'RED', 'COMM_NAME': 'RED CARPET/MOUNTVIEW MOBILE PARK'}
{'avg(ASSESSED_VALUE)': Decimal('418677.6398'), 'COMM_CODE': 'RSN', 'COMM_NAME': 'REDSTONE'}
{'avg(ASSESSED_VALUE)': Decimal('459166.6667'), 'COMM_CODE': 'REN', 'COMM_NAME': 'RENFREW'}
{'avg(ASSESSED_VALUE)': Decimal('1160085.7143'), 'COMM_CODE': '01F', 'COMM_NAME': 'RESIDUAL WARD 1 - SUB AREA 1F'}
{'avg(ASSESSED_VALUE)': Decimal('885264.7059'), 'COMM_CODE': '10C', 'COMM_NAME': 'RESIDUAL WARD 10 - SUB AREA 10C'}
{'avg(ASSESSED_VALUE)': Decimal('299145.8333'), 'COMM_CODE': '12A', 'COMM_NAME': 'RESIDUAL WARD 12 - SUB AREA 12A'}
{'avg(ASSESSED_VALUE)': Decimal('1352125.0000'), 'COMM_CODE': '12C', 'COMM_NAME': 'RESIDUAL WARD 12 - SUB AREA 12C'}
{'avg(ASSESSED_VALUE)': Decimal('677043.4726'), 'COMM_CODE': 'RIC', 'COMM_NAME': 'RICHMOND'}
{'avg(ASSESSED_VALUE)': Decimal('744275.0000'), 'COMM_CODE': 'RID', 'COMM_NAME': 'RIDEAU PARK'}
{'avg(ASSESSED_VALUE)': Decimal('420165.8915'), 'COMM_CODE': 'RIV', 'COMM_NAME': 'RIVERBEND'}
{'avg(ASSESSED_VALUE)': Decimal('471417.2662'), 'COMM_CODE': 'ROC', 'COMM_NAME': 'ROCKY RIDGE'}
{'avg(ASSESSED_VALUE)': Decimal('1198238.2075'), 'COMM_CODE': 'RDL', 'COMM_NAME': 'ROSEDALE'}
{'avg(ASSESSED_VALUE)': Decimal('699344.5183'), 'COMM_CODE': 'RMT', 'COMM_NAME': 'ROSEMONT'}
{'avg(ASSESSED_VALUE)': Decimal('618643.8547'), 'COMM_CODE': 'RCK', 'COMM_NAME': 'ROSSCARROCK'}
{'avg(ASSESSED_VALUE)': Decimal('1389112.0690'), 'COMM_CODE': 'ROX', 'COMM_NAME': 'ROXBORO'}
{'avg(ASSESSED_VALUE)': Decimal('490748.4812'), 'COMM_CODE': 'ROY', 'COMM_NAME': 'ROYAL OAK'}
{'avg(ASSESSED_VALUE)': Decimal('315098.9283'), 'COMM_CODE': 'RUN', 'COMM_NAME': 'RUNDLE'}
{'avg(ASSESSED_VALUE)': Decimal('458589.4040'), 'COMM_CODE': 'RUT', 'COMM_NAME': 'RUTLAND PARK'}
{'avg(ASSESSED_VALUE)': Decimal('394291.8871'), 'COMM_CODE': 'SAD', 'COMM_NAME': 'SADDLE RIDGE'}
{'avg(ASSESSED_VALUE)': Decimal('436882.8187'), 'COMM_CODE': 'SGH', 'COMM_NAME': 'SAGE HILL'}
{'avg(ASSESSED_VALUE)': Decimal('418227.8481'), 'COMM_CODE': 'SAN', 'COMM_NAME': 'SANDSTONE VALLEY'}
{'avg(ASSESSED_VALUE)': Decimal('1066390.6250'), 'COMM_CODE': 'SCA', 'COMM_NAME': 'SCARBORO'}
{'avg(ASSESSED_VALUE)': Decimal('996114.2857'), 'COMM_CODE': 'SSW', 'COMM_NAME': 'SCARBORO/SUNALTA WEST'}
{'avg(ASSESSED_VALUE)': Decimal('553195.5970'), 'COMM_CODE': 'SCE', 'COMM_NAME': 'SCENIC ACRES'}
{'avg(ASSESSED_VALUE)': Decimal('688829.7414'), 'COMM_CODE': 'SET', 'COMM_NAME': 'SETON'}
{'avg(ASSESSED_VALUE)': Decimal('672767.7291'), 'COMM_CODE': 'SHG', 'COMM_NAME': 'SHAGANAPPI'}
{'avg(ASSESSED_VALUE)': Decimal('561072.1311'), 'COMM_CODE': 'SHS', 'COMM_NAME': 'SHAWNEE SLOPES'}
{'avg(ASSESSED_VALUE)': Decimal('391093.3711'), 'COMM_CODE': 'SHN', 'COMM_NAME': 'SHAWNESSY'}
{'avg(ASSESSED_VALUE)': Decimal('466711.5165'), 'COMM_CODE': 'SHW', 'COMM_NAME': 'SHERWOOD'}
{'avg(ASSESSED_VALUE)': Decimal('529510.2625'), 'COMM_CODE': 'SIG', 'COMM_NAME': 'SIGNAL HILL'}
{'avg(ASSESSED_VALUE)': Decimal('466943.3517'), 'COMM_CODE': 'SIL', 'COMM_NAME': 'SILVER SPRINGS'}
{'avg(ASSESSED_VALUE)': Decimal('476458.4139'), 'COMM_CODE': 'SVO', 'COMM_NAME': 'SILVERADO'}
{'avg(ASSESSED_VALUE)': Decimal('387040.7629'), 'COMM_CODE': 'SKR', 'COMM_NAME': 'SKYVIEW RANCH'}
{'avg(ASSESSED_VALUE)': Decimal('373787.3913'), 'COMM_CODE': 'SOM', 'COMM_NAME': 'SOMERSET'}
{'avg(ASSESSED_VALUE)': Decimal('562613.2597'), 'COMM_CODE': 'SOC', 'COMM_NAME': 'SOUTH CALGARY'}
{'avg(ASSESSED_VALUE)': Decimal('395379.3860'), 'COMM_CODE': 'SOV', 'COMM_NAME': 'SOUTHVIEW'}
{'avg(ASSESSED_VALUE)': Decimal('384777.8429'), 'COMM_CODE': 'SOW', 'COMM_NAME': 'SOUTHWOOD'}
{'avg(ASSESSED_VALUE)': Decimal('796262.7058'), 'COMM_CODE': 'SPH', 'COMM_NAME': 'SPRINGBANK HILL'}
{'avg(ASSESSED_VALUE)': Decimal('500139.0169'), 'COMM_CODE': 'SPR', 'COMM_NAME': 'SPRUCE CLIFF'}
{'avg(ASSESSED_VALUE)': Decimal('942688.4058'), 'COMM_CODE': 'STA', 'COMM_NAME': 'ST. ANDREWS HEIGHTS'}
{'avg(ASSESSED_VALUE)': Decimal('611189.7321'), 'COMM_CODE': 'STR', 'COMM_NAME': 'STRATHCONA PARK'}
{'avg(ASSESSED_VALUE)': Decimal('407976.2808'), 'COMM_CODE': 'SNA', 'COMM_NAME': 'SUNALTA'}
{'avg(ASSESSED_VALUE)': Decimal('506794.4265'), 'COMM_CODE': 'SDC', 'COMM_NAME': 'SUNDANCE'}
{'avg(ASSESSED_VALUE)': Decimal('503202.0202'), 'COMM_CODE': 'SSD', 'COMM_NAME': 'SUNNYSIDE'}
{'avg(ASSESSED_VALUE)': Decimal('370161.3001'), 'COMM_CODE': 'TAR', 'COMM_NAME': 'TARADALE'}
{'avg(ASSESSED_VALUE)': Decimal('319391.9330'), 'COMM_CODE': 'TEM', 'COMM_NAME': 'TEMPLE'}
{'avg(ASSESSED_VALUE)': Decimal('426322.3327'), 'COMM_CODE': 'THO', 'COMM_NAME': 'THORNCLIFFE'}
{'avg(ASSESSED_VALUE)': Decimal('518914.9751'), 'COMM_CODE': 'TUS', 'COMM_NAME': 'TUSCANY'}
{'avg(ASSESSED_VALUE)': Decimal('518744.3182'), 'COMM_CODE': 'TUX', 'COMM_NAME': 'TUXEDO PARK'}
{'avg(ASSESSED_VALUE)': Decimal('7991047.6190'), 'COMM_CODE': 'UND', 'COMM_NAME': 'UNIVERSITY DISTRICT'}
{'avg(ASSESSED_VALUE)': Decimal('1427633.9713'), 'COMM_CODE': 'UNI', 'COMM_NAME': 'UNIVERSITY HEIGHTS'}
{'avg(ASSESSED_VALUE)': Decimal('1837640.1734'), 'COMM_CODE': 'UMR', 'COMM_NAME': 'UPPER MOUNT ROYAL'}
{'avg(ASSESSED_VALUE)': Decimal('602883.6898'), 'COMM_CODE': 'VAL', 'COMM_NAME': 'VALLEY RIDGE'}
{'avg(ASSESSED_VALUE)': Decimal('604167.4324'), 'COMM_CODE': 'VAR', 'COMM_NAME': 'VARSITY'}
{'avg(ASSESSED_VALUE)': Decimal('394230.1255'), 'COMM_CODE': 'VIS', 'COMM_NAME': 'VISTA HEIGHTS'}
{'avg(ASSESSED_VALUE)': Decimal('448555.7308'), 'COMM_CODE': 'WAL', 'COMM_NAME': 'WALDEN'}
{'avg(ASSESSED_VALUE)': Decimal('792577.9773'), 'COMM_CODE': 'WHL', 'COMM_NAME': 'WEST HILLHURST'}
{'avg(ASSESSED_VALUE)': Decimal('746829.9224'), 'COMM_CODE': 'WSP', 'COMM_NAME': 'WEST SPRINGS'}
{'avg(ASSESSED_VALUE)': Decimal('537492.3246'), 'COMM_CODE': 'WGT', 'COMM_NAME': 'WESTGATE'}
{'avg(ASSESSED_VALUE)': Decimal('328303.2544'), 'COMM_CODE': 'WHI', 'COMM_NAME': 'WHITEHORN'}
{'avg(ASSESSED_VALUE)': Decimal('763623.6413'), 'COMM_CODE': 'WLD', 'COMM_NAME': 'WILDWOOD'}
{'avg(ASSESSED_VALUE)': Decimal('574079.5455'), 'COMM_CODE': 'WIL', 'COMM_NAME': 'WILLOW PARK'}
{'avg(ASSESSED_VALUE)': Decimal('491677.1596'), 'COMM_CODE': 'WND', 'COMM_NAME': 'WINDSOR PARK'}
{'avg(ASSESSED_VALUE)': Decimal('531639.2405'), 'COMM_CODE': 'WIN', 'COMM_NAME': 'WINSTON HEIGHTS/MOUNTVIEW'}
{'avg(ASSESSED_VALUE)': Decimal('464879.7753'), 'COMM_CODE': 'WBN', 'COMM_NAME': 'WOODBINE'}
{'avg(ASSESSED_VALUE)': Decimal('481322.8247'), 'COMM_CODE': 'WOO', 'COMM_NAME': 'WOODLANDS'}

True

In [28]:
read_cursor = myconnection.cursor(buffered=True, dictionary=True)

query_string = ("SELECT Category, SUM(CrimeCount) AS TotalCrimeCount FROM crimestats GROUP BY Category ORDER BY TotalCrimeCount DESC;")

read_cursor.execute(query_string)

for (library_value) in read_cursor:
    print(library_value)
    
read_cursor.close()

{'Category': 'Theft FROM Vehicle', 'TotalCrimeCount': Decimal('14658')}
{'Category': 'Theft OF Vehicle', 'TotalCrimeCount': Decimal('6009')}
{'Category': 'Break & Enter - Commercial', 'TotalCrimeCount': Decimal('5767')}
{'Category': 'Assault (Non-domestic)', 'TotalCrimeCount': Decimal('3909')}
{'Category': 'Break & Enter - Dwelling', 'TotalCrimeCount': Decimal('2391')}
{'Category': 'Break & Enter - Other Premises', 'TotalCrimeCount': Decimal('2294')}
{'Category': 'Violence Other (Non-domestic)', 'TotalCrimeCount': Decimal('1871')}
{'Category': 'Street Robbery', 'TotalCrimeCount': Decimal('642')}
{'Category': 'Commercial Robbery', 'TotalCrimeCount': Decimal('384')}

True

### Closing Database Connection

In [6]:
#Closing connection
myconnection.close()

In [ ]:
engine.dispose()

### Deleting Tables is needed

In [ ]:
#DELETE TABLE IF NEEDED. DO NOT RUN IF NOT REQUIRED.

deletecursor = myconnection.cursor()
sql = "DROP TABLE IF EXISTS ;"
deletecursor.execute(sql)
deletecursor.close()

## Discussion

Discussion Here

## Conclusion

Conclusion here

## Citations

Community crime statistics | open calgary. (n.d.). Retrieved 27 October 2023, from https://data.calgary.ca/Health-and-Safety/Community-Crime-Statistics/78gh-n26t

Historical property assessments (Parcel) | open calgary. (n.d.). Retrieved 27 October 2023, from https://data.calgary.ca/Government/Historical-Property-Assessments-Parcel-/4ur7-wsgc